swagger: '2.0'
info:
  version: "0.2.0"
  title: VROOM DSP
  description: |
    Api sur la consultation et la mise à jour de dossier concernant la grêle.

 host: apidev.vroom.pro
 basePath: /

#host: localhost
#basePath: /api

tags:
  - name: Connexion
  - name: Dossiers
  - name: Identifier
    description: |
      Identifier le véhicule
  - name: Photos
    description: |
      Ajouter des photos
  - name: Expertiser
    description: |
      Expertiser le véhicule
  - name: PV
    description: |
      Etablir le procès verbal
produces:
  - "application/json"
paths:
  /user/login:
    post:
      summary: Première connexion
      description: |
        Première connexion en vue d'obtenir un token qui sera transmis à chaque appel et des données pour le mode hors connexion
      tags:
        - Connexion
        - Tous
      parameters:
        - name: login
          in: formData
          description: |
            Login de l'utilisateur qui lance la requête
          required: true
          type: string

        - name: password
          in: formData
          description: |
            Mot de passe destiné à l'authentification
          required: true
          type: string
          format: password

        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de l'authentification:
            -----------------------------
            Les données retournées sont **nécessaire au mode hors connexion**, ces données sont les suivantes :
              - La _liste des pièces disponible_ en vue de remplir la liste des pièces à choisir.
              - les _3 types de réparations disponible_ pour les boutons dans les pièces.
              - L'_identifiant_ de l'expert et son _login_.
              - Les _grilles tarifaires_ des pièces endommagées par la grêle.
              - Le _token_ à passer dans chacun des appels suivant.
          schema:
            title: RetourLogin
            type: object
            required:
              - response
              - message
              - nb_resultats
              - execute_time
              - token
              - resultats
            properties:
              response:
                type: string
                description: Statut de la requete.
              message:
                type: string
                description: Message sur le statut de la requête.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête
              execute_time:
                type: number
                description: Temps de l'exécution de la requête
              token:
                type: string
                description: Jeton à transmettre dans chacun des appels suivant
              resultats:
                title: ResultatRequete
                type: object
                required:
                  - pieces_disponibles
                  - type_reparation
                  - expert
                  - grilles_tarifaires
                  - nb_impacts_max
                properties:
                  pieces_disponibles:
                    $ref: "#/definitions/ListePieceDisponible"
                  type_reparation:
                    $ref: "#/definitions/ListeTypeReparationDisponible"
                  expert:
                    $ref: "#/definitions/InformationsExpert"
                  grilles_tarifaires:
                    $ref: "#/definitions/ListePrixGrilles"
                  nb_impacts_max:
                    type: integer
                    description: |
                      Nombre d'impacts max avant de changer automatiquement le type de réparation par "Echange"
          examples:
            application/json:
              response: OK
              message: ""
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                pieces_disponibles:
                  - id: 1
                    libelle: Capot
                    position:
                  - id: 2
                    libelle: Aile
                    position: AVG
                  - id: 3
                    libelle: Aile
                    position: ARG
                  - id: 4
                    libelle: Aile
                    position: AVD
                  - id: 5
                    libelle: Aile
                    position: ARD
                  - id: 6
                    libelle: Pare-brise
                    position:
                type_reparation_disponible:
                  1: Redressage
                  2: Débosselage
                  3: Echange
                grilles_tarifaires:
                  Dent Wizard:
                    petit:
                      1:
                        taille_impact: petit
                        nb_impact_min: 1
                        nb_impact_max: 4
                        nom_grille: Dent Wizard
                        montant: 12
                      5:
                        taille_impact: petit
                        nb_impact_min: 5
                        nb_impact_max: 9
                        nom_grille: Dent Wizard
                        montant: 16
                    moyen:
                      1:
                        taille_impact: moyen
                        nb_impact_min: 1
                        nb_impact_max: 4
                        nom_grille: Dent Wizard
                        montant: 16
                      5:
                        taille_impact: moyen
                        nb_impact_min: 5
                        nb_impact_max: 9
                        nom_grille: Dent Wizard
                        montant: 18
                expert:
                  expert_id: 1777596
                  login: EIDWA
                nb_impacts_max: 200
              token: $2a$08$oOWPtQtzjaXVQBEbhSc9POrX2h97elXFF/N6l6QYFZXp2rX3tNGwW
        "401":
          description: Les informations de connexion ne sont pas valides
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0

  /rest/experts/{id}/dossiers/{jour}:
    get:
      summary: Liste les dossiers du jour
      description: |
        Retourne la liste des dossiers de VROOM du jour selon l'identifiant de l'expert et le jour choisi,
        le tout trié par statut et par date d'expertise.
      tags:
        - Dossiers
        - Tous
      parameters:
        - name: id
          in: path
          description: |
            Identifiant de l'expert choisi
          required: true
          type: integer

        - name: jour
          in: path
          description: |
            Date des dossiers à récupérer au format YYYY-mm-dd
          required: true
          type: string
          format: date
        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
        - name: start
          in: query
          description: |
            Correspond au numéro de la page commence à 0 pour obtenir la première page
          required: false
          type: integer
          minimum: 0
        - name: limit
          in: query
          description: |
            Nombre de dossiers à retourner pour chaque page
          required: false
          type: integer
          minimum: 0
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Liste des dossiers du jour.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
              - current_page
              - limit
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                $ref: '#/definitions/ListeDossiers'
              current_page:
                type: integer
                description: |
                  Le numéro de la page actuelle commence à 1
                minimum: 0
              limit:
                type: string
                description:  |
                  le nombre avant la virgule correspond au nombre de dossiers précédents les dossiers retournés,
                  après au nombre de dossiers par page.
          examples:
            application/json:
              response: "OK"
              message: "OK"
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                - dossier_id: 420058502
                  internal_id: 2016006809
                  nom_prenom: NGUYEN VALERIE
                  immatriculation: AH-630-XY
                  marque: CITROEN
                  modele: C3
                  statut: 0
                  date_rapport: "0"
                  montant: "0"
                  pieces:
                    - id_type_piece: 1
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 1
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 100
                       - taille: moyen
                         nombre: 5
                    - id_type_piece: 3
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 0
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 15
                  nombre_pieces: 5
                  nombre_photos: 0
                  afficher_btn_ajouter_photos: 0
                  afficher_btn_expertiser: 0
                  afficher_btn_proces_verbal: 0
                  identification:
                    vin: "VF7FCKFVC9A205460"
                    immatriculation: "AH-630-XY"
                    modele: "C3"
                    constructeur: "CITROEN"
                    genre: "VP"
                    kilometrage: ""
                    code_energie: "ES"
                    code_carrosserie: "CI"
                    annee_modele: "2010"
                    couleur: "Gris"
                    puissance_fiscale: "5"
                    date_achat: "2015-07-09 00:00:00"
                    date_immatriculation: "2009-12-28 00:00:00"
                    pv_vin: null
                    pv_immatriculation: null
                    pv_modele: null
                    pv_constructeur: null
                    pv_genre: null
                    pv_code_energie: null
                    pv_code_carrosserie: null
                    pv_annee_modele: null
                    pv_couleur: null
                    pv_puissance_fiscale: null
                    pv_date_achat: null
                    pv_date_immatriculation: null
                    usure_pneu_AVG: ""
                    usure_pneu_ARG: ""
                    usure_pneu_AVD: ""
                    usure_pneu_ARD: ""
                    categorie_vehicule: ""
              current_page: 1
              limit: 1
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: L'identifiant de l'expert n'existe pas.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Aucun dossier trouvé pour ces identifiants."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0

  /rest/dossiers/{id}:
    get:
      summary: Retourne les informations d'un dossier
      description: |
        Retourne le dossier depuis son identifiant
      tags:
        - Dossiers
        - Tous
      parameters:
        - name: id
          in: path
          description: Identifiant unique du dossier
          required: true
          type: integer

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Dossier récupéré depuis sont identifiant.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête
              execute_time:
                type: number
                description: Temps de l'exécution de la requête
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels
              resultats:
                $ref: "#/definitions/Dossier"
          examples:
            application/json:
              response: "OK"
              message: "OK"
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                - dossier_id: 420058502
                  internal_id: 2016006809
                  nom_prenom: NGUYEN VALERIE
                  immatriculation: AH-630-XY
                  marque: CITROEN
                  modele: C3
                  statut: 0
                  date_rapport: "0"
                  montant: "0"
                  pieces:
                    - id_type_piece: 1
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 1
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 100
                       - taille: moyen
                         nombre: 5
                    - id_type_piece: 3
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 0
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 15
                  nombre_pieces: 5
                  nombre_photos: 0
                  afficher_btn_ajouter_photos: 0
                  afficher_btn_expertiser: 0
                  afficher_btn_proces_verbal: 0
                  identification:
                    vin: "VF7FCKFVC9A205460"
                    immatriculation: "AH-630-XY"
                    modele: "C3"
                    constructeur: "CITROEN"
                    genre: "VP"
                    kilometrage: ""
                    code_energie: "ES"
                    code_carrosserie: "CI"
                    annee_modele: "2010"
                    couleur: "Gris"
                    puissance_fiscale: "5"
                    date_achat: "2015-07-09 00:00:00"
                    date_immatriculation: "2009-12-28 00:00:00"
                    pv_vin: null
                    pv_immatriculation: null
                    pv_modele: null
                    pv_constructeur: null
                    pv_genre: null
                    pv_code_energie: null
                    pv_code_carrosserie: null
                    pv_annee_modele: null
                    pv_couleur: null
                    pv_puissance_fiscale: null
                    pv_date_achat: null
                    pv_date_immatriculation: null
                    usure_pneu_AVG: ""
                    usure_pneu_ARG: ""
                    usure_pneu_AVD: ""
                    usure_pneu_ARD: ""
                    categorie_vehicule: ""
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: Aucun dossier trouvé.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: "Aucun dossier trouvé."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0

  /rest/cabinets/dossiers/{critere}:
    get:
      summary: Liste les dossiers d'un cabinet depuis un critère
      description: |
        Liste des dossiers d'un cabinet depuis un critère. La recherche sera sur ce critère en testant en premier l'immatriculation / le numéro de dossier du cabinet (l'internal_id) et pour finir le Nom prénom de l'assuré.
      tags:
        - Dossiers
        - Tous
      parameters:
        - name: critere
          description: |
            Critère de recherche, peut être une immatriculation, un numéro de dossier ou un nom prénom
          in: path
          type: string
          required: true

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'

        - name: start
          in: query
          description: |
            Correspond au numéro de la page commence à 0 pour obtenir la première page
          required: false
          type: integer
          minimum: 0

        - name: limit
          in: query
          description: |
            Nombre de dossiers à retourner pour chaque page
          required: false
          type: integer
          minimum: 0
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Liste de dossiers
          schema:
            $ref: '#/definitions/ListeDossiers'
          examples:
            application/json:
              response: "OK"
              message: "OK"
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                - dossier_id: 420058502
                  internal_id: 2016006809
                  nom_prenom: NGUYEN VALERIE
                  immatriculation: AH-630-XY
                  marque: CITROEN
                  modele: C3
                  statut: 0
                  date_rapport: "0"
                  montant: "0"
                  pieces:
                    - id_type_piece: 1
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 1
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 100
                       - taille: moyen
                         nombre: 5
                    - id_type_piece: 3
                      hors_sinistre: 0
                      peinture: 1
                      aluminium: 0
                      id_type_reparation: 1
                      impacts:
                       - taille: petit
                         nombre: 15
                  nombre_pieces: 5
                  nombre_photos: 0
                  afficher_btn_ajouter_photos: 0
                  afficher_btn_expertiser: 0
                  afficher_btn_proces_verbal: 0
                  identification:
                    vin: "VF7FCKFVC9A205460"
                    immatriculation: "AH-630-XY"
                    modele: "C3"
                    constructeur: "CITROEN"
                    genre: "VP"
                    kilometrage: ""
                    code_energie: "ES"
                    code_carrosserie: "CI"
                    annee_modele: "2010"
                    couleur: "Gris"
                    puissance_fiscale: "5"
                    date_achat: "2015-07-09 00:00:00"
                    date_immatriculation: "2009-12-28 00:00:00"
                    pv_vin: null
                    pv_immatriculation: null
                    pv_modele: null
                    pv_constructeur: null
                    pv_genre: null
                    pv_code_energie: null
                    pv_code_carrosserie: null
                    pv_annee_modele: null
                    pv_couleur: null
                    pv_puissance_fiscale: null
                    pv_date_achat: null
                    pv_date_immatriculation: null
                    usure_pneu_AVG: ""
                    usure_pneu_ARG: ""
                    usure_pneu_AVD: ""
                    usure_pneu_ARD: ""
                    categorie_vehicule: ""
              current_page: 1
              limit: 1
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "403":
          description: |
            Vous n'avez pas de droit d'accéder à ces dossiers.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: |
                Vous n'avez pas le droit de supprimer cette pièce.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "404":
          description: |
            Le cabinet n'existe pas, l'identifiant ne doit pas être le bon.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Aucun dossier trouvé pour ce cabinet.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{id}/pieces:
    get:
      summary: Liste les pièces endommagées du dossier
      description: |
        Retourne les pièces endommagées du dossier depuis l'identifiant de celui-ci.
      tags:
        - Expertiser
        - Tous
      parameters:
        - name: id
          in: path
          description: Identifiant du dossier
          required: true
          type: integer

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Liste des pièces endommagées du dossier déjà ajoutées ou liste vide si le dossier ne contient aucune pièce.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête
              execute_time:
                type: number
                description: Temps de l'exécution de la requête
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels
              resultats:
                type: array
                items:
                  $ref: "#/definitions/Piece"
          examples:
            application/json:
              response: OK
              message: ""
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                - id_type_piece: 2
                  aluminium: 0
                  peinture: 1
                  hors_sinistre: 0
                  id_type_reparation: 1
                  impacts:
                    - taille: petit
                      nombre: 3
                    - taille: moyen
                      nombre: 15
                - id_type_piece: 2
                  aluminium: 1
                  peinture: 1
                  hors_sinistre: 1
                  id_type_reparation: 1
                  impacts:
                    - taille: petit
                      nombre: 3
                    - taille: moyen
                      nombre: 15
                    - taille: gros
                      nombre: 1
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: Aucun dossier trouvé.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Ce dossier n'existe pas."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0

    post:
      consumes:
        - application/json
      produces:
        - application/json
      summary: Créé une pièce
      description: |
        Soumet la création d'une nouvelle pièce pour ce dossier.
      tags:
        - Expertiser
        - Tous
      parameters:
        - description: Identifiant du dossier
          name: id
          in: path
          required: true
          type: integer

        - description: Formulaire de création d'une pièce
          name: piece
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddOrUpdatePiece'

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "201":
          description: |
            Succès de la requete:
            ---------------------
            La pièce est retournée après la création.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                $ref: '#/definitions/Piece'
          examples:
            application/json:
              response: OK
              message: |
                La pièce a été créé avec succès.
              nb_resultats: 1
              execute_time: 0.00087
              resultats:
                id_type_piece: 1
                aluminium: 0
                peinture: 1
                hors_sinistre: 0
                id_type_reparation: 3
                impacts:
                  - taille: petit
                    nombre: 3
                  - taille: moyen
                    nombre: 15
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: Aucun dossier trouvé.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Le dossier n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "409":
          description: La pièce en question existe déjà.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                La pièce *Capot* existe déjà pour ce dossier.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "500":
          description: Une erreur lors de la persistance s'est produite.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Une erreur s'est produite.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{id}/photos:
    get:
      summary: Liste les photos du dossier
      description: |
        Liste des photos du dossier depuis l'identifiant fourni, ou pas de liste si aucune photo n'a été trouvé pour le dossier.
      tags:
        - Photos
        - Tous
      parameters:
        - name: id
          in: path
          description: Identifiant du dossier
          required: true
          type: integer

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Tableau des photos du dossier
          schema:
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            type: object
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête
              execute_time:
                type: number
                description: Temps de l'exécution de la requête
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels
              resultats:
                type: array
                items:
                  $ref: "#/definitions/Photo"
          examples:
            application/json:
              response: OK
              message: ""
              nb_resultats: 2
              execute_time: 0.00077
              resultats:
                - photo_id: 12
                  url: https://expertiseconcept.s3.eu-central-1.amazonaws.com/documents/expertise_%26_concept/2017003128/2017003128_2017-01-19_20-10-59_AUTRE.pdf
                - photo_id: 1601
                  url: https://expertiseconcept.s3.eu-central-1.amazonaws.com/documents/expertise_%26_concept/2017003112/201700312_2017-01-19_20-10-59_AUTRE.pdf
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
             $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: |
            Aucun dossier trouvé pour cet identifiant.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Le dossier n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

    post:
      summary: Ajoute des photos au dossier
      description: |
        Permet d'ajouter une ou plusieurs photo(s) au dossier depuis l'identifiant de celui-ci.
        Les photos doivent être **au format JPG** pour qu'elles soient intégrées.
      tags:
        - Photos
        - Tous
      consumes:
        - multipart/form-data
      parameters:
        - description: |
            Identifiant du dossier
          name: id
          in: path
          required: true
          type: integer

        - description: |
            Nom du fichier à envoyer avec l'extension
          name: files[0][0][name]
          in: formData
          required: true
          type: string
          default: jpeg_de_test.jpg

        - description: |
            Données du fichier en base 64
          name: files[0][0][data]
          in: formData
          required: true
          type: string
          default:  data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAvcAAAICCAIAAADEQnVGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAEWwSURBVHhe7dxNjtxI0q3hu5Ae9mo00lo0qLUI0FIELaVqBz0QNBAEFPDdyIzIzAjSjrmZ//DH433go1YEw+l0Nz8ks/r//R8AAMCMSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDkdI+V8/+t///mv2X59v30EQJV/fn9aLqv79vPrP7cPoujvbz9XA3htVCrgmPZMOf9+/byoFE4rFZFCKQ+1T9/+vR3t4sevxb92a59//73B8e91H5wq9g6x7u0jnYCvrdPuUrgcLb/iz/NRu2Np3IyWuMTHmFGbdUOHm3UTF3TL9R5WtyRt5gkWDuUtjS8/bh8Kss7FXVwHmcMYbp+Uk8o3d+2vP7cDLNUecNHu1mTFJhFuL2tv9PHv9B+cKn++LA741pxyFtxdGmtN7Fcq40j54HJW12m+3OX+HGRGbdKNur1wNYYbrvc4OYDZhFF3qPKYxJeGuEz61w8yh7GB7VNO6z2NuaTlDpprH1O20xqw28+v/4w+/u00XnUfnDoVKSc+Sg2vXaLbWN1PRE6hepdaCobCQPO7dPQZlWtONxqK1eOs3nK9x8lebZJyQmMS7Uk65RxkDmMD26acPlXYCPjdp+zoqrRl1Tv6ntRYB2+t9olI/CY7X/qj22TNkZe6zygn6Bx9RuWa6kbb/djj88Ut13uc7FV+QlYcKnj5YvcApBxIG6acbjeaxsTqPmVHV6Utq97R9yRdiVKjVPdEJDE4FVkkGqFqI9qbTpf4sen3gEefUblmd6P54A/XdMv1HlcRTZSKQ0VHOPQ+mpQDabOU0/qi6r6t97M+U/Z+OY1+j77he/r+g1NFdqNTyqlJIanknT9+fOTrItpVp3q9bjJ7HX1GpZrZDX9irGeCsZwfR2/D9R53jpQTOsGdUk7zHMYGtkk5oT99sO5I7C+uJ72astV3OX1j2WO7lr/Rx/8wYHBqyLKiK5EqnT8/mf+73JUV8/g/v/xl73Dp0p+5xPl95SoaBGU5dtamvE89+Ixq74acq4V797srvhzw7dZ73FlSTiBMdEs5G89hbGCTlFO6jylOrMWM3CTllMi7vU7PMPsd/yDrWRY1XYlU6fz11R6c5E2tWRk///4uRj5b+s1p/+lzz2kTeBYVHpP1aDxtypGJJHTk60XJzpbR9cRympRTnsakHEgbpBz/Jia8hj+qgPGVHabs6KrU7/gH35OcSiRTzndR1FIPkM0RvhxBjXyy9JvnexnzfpdDDMJ7S43Gzf0x5UOCg8+o1m6MXtqmPX70iClH3gb4j6xIOZDGpxz3QU7Vzbcx3XeYsqOrUr/jH3xPqko56p8Sg2P252VM+qQcM9y/dk+tiGwo8R+R5jeqD9cROPwOMaobcmDr3w2VkXKu7cuPqstKyoE0OuW4t5sthfjRDlOWlJOkuuFMAyflqPEJn5ROIWrkU9PVfl11zTHq6Wbqyrorq+YpTsLBZ1RrN2TKGRg4SDm3dvl8Tcok5UAanHLk0r20nqt3hyk7uir1O/7B9ySnEnkpR9W14AbvpJAOKcfu2/uAd7gi3soa+cjh1cFnVGs35C478gRH1xPLQVOOTvB6/Ek5kMamHDn1Ly2/kBw7TFlSTpLqhjMT3JSj/jUyPnZNvL0/bU859hHuOqb20fAzGGdlbXBZDz6jWrshl96lDcsco+uJpSKaKBWHsi/f6xLQ01sleFIOpLEpR25s7ztKJztM2dFVqd/xD7Ke5WSoTTny1U+xRttj+1ZA1ciHS7/d7YcE0/jSSt7sbvAg5+LgM6q5G+rqXNuY2EHKubbbMtGXwD4gKQfS0JTjFIvOtXiHKUvKSVLdcCpRKeWoYxZml33Y9260phy74C5Gu2I07mT3gM4OPqOau+GEyLcWfuoWRcq5treBlQe0B4SUA2lkypHrtn+N2GHKknKSVDecSlRMOerVj/uk0C6IH19pTDn211dXreZPLN/oleWeeDcHn1EduqH/NOex9btbG11PLEdOOckoT8qBtFPKya8in9xBg62iP6OrUr/j7zA4FtkNffxyylGl0OmzvYHdbVdq5GPjYPfZiPWyiJeTityDB+6I944+o4LN60bgcc5H6zHspJxru1sp8pjGmHRLOdHWaQ5jAyNTjr4f6p6XW6dsxT3Z86ScTjesshu6XgRSjjqsHCX78/d9aEo5drU1J3zFgFzp6u9cqdS2fWneNDv6jIo2txtyAarWtvBJOdf2cD8Qf5yzecrpNIexAVLOteWnLCknSXZDV6JIylHTTMwxu24+HLAl5djfFZdMLpDCgMuR9F4E6w1DNX20o8+oaCt1Q1cw2bxL4CLlXNvjAMrDLh95knIgDUw54QnawQ5TlpSTJLvRmHLU/m3tN/YBF59sSDmRwn2n8qWVHElni5XTyWnyuh99RkVboBsVQaeuvpFyrm05h3U6f/gkKQcSKefa8lOWlJMku9GactSR1wMVe51Un3Lsiuw8uawYkwv5LVJOrgW7kX3Z99LSJY6Uc23rOayD5v0g20fL/nqi9ZnD2MA+Kedwb6zyq/qJUk7F4FhkN/Txgykn+tLKHtLVeKqRL46D3Q33eskK7tVQOZJOyql4YzUu5YyeUcGW6oZcj6ol1+noemI5R8pxUubdh+2jZX893jrNYWxg8pTT/Yc+jK5K/Y6/w+BYZFnR9SKacuQW/rBP2x1YV9XalBM9/gMZPpyrI0fS+62KBxLplHOQGbXHqrda4dI/IuVcmzlogcc59tGyv775HMYG9vnr44pV5DtSvSPl2FQ3nMkQTjny4HefDL9Oqkw56ddVV3JY9B6p7x+qnqLLmUbKUaIPxtYTVSLlXJs97cuPc+yjZX998zmMDZByapFyklQ3nMkQTzlysr0f3P6ANZh1KSd+/AW5TPR39cpKbKvvSDmVAlknXuhIOdemwn1pzttHy/46KWdGI1OOXLeXVnXTqe0wZUdXpX7HP8h6Vt1wKlEi5cgt5zbTEkVQjbxb+uXZNTR5gfTKqrmm8miknAC9+762cKEbXU8sZ0o5pcc5iQX+6iBzGBsYmXK8e53OS3eHKTu6KvU7/kHWs+qGU4kyKUce/+XDYjDtJx9q5J3SLy9WW5MVX68s+RVNdp6UE+MFnfBq7bfe42Q0yc8idSjnWtiXz/lp93GOfTRSDganHO8PHvtOph2m7Oiq1O/4B1nPqhu9Uo4csU/f/tjHEbu4Ok6+n81NXWtvZdmD45AzjZQTJef206Scimthf8X7aT3tv/ywj0bKweCU41f/8LPcgB2m7Oiq1O/4B1nPqhvdUo679xtN/W465SR/N9PUNfJWVnaLIuW0k48ZDp1yOnT7Rj5cdDK3ffn82as7/NNcg6QcjE45eum+tI7zaYcpO7oq9Tv+wfekfinHT9XLJuuvGvlsKurTkg+cXlvuyspDkXLCZks5yTGsOn378pUyuiwjZiPlYHjKKdzmdlvAO0zZ0VWp3/EPsp5leeqXcvy9/7HpR4nqIKKfqWhV0dTJ+uXeuYdekoNGyonSc0BPs4XR9cTm/OlkuOdekfcOYl++4pPIxBon5eDF6JRT3APia+niupyMZb/DlB1dlfod/+B7Us+UE395pH9Ujrz9FfWLycvk1G7V1VK5j15feZwnTTnXw2YOomdd/O1hv/We4a6XWOe9Cu+sMnX5Aj8qK8m66Q4cZA5jA8NTjnu7cGuR+877Sbn+/A5TdnRV6nf8g6xnWZt0JcqnnGKqvjZ3DNXIm/1UH45vbzfOfpNOG3ctcBchZ9pzppyHCxE5lHMVEj0ZXU+EwnopTWN/BvqF3f5uZOHIsVo1Ug42STne29/7Zi8Ja0KvJ+IOU3Z0Vep3/IOsZ1kQu6acUAX0K6k6gtVP1cOKsXX2G32+5VuIaxP98b/+nCnHHhPzEpQidWapjq4nUmAKWetFLuf3VpeQIikn8uvXRsrBRiknPiljbT0ROx0/cOP77vwpJ9kyg2OR3eibcvyH8K+tUMgSKUftEFVzQF5xb4i8b7W2dMpJtmEzKtcW3YgGx3Jzrtra6HqilbJaXSt32758sZQTnfb5lJNsrXMYG9go5fSsHQNTjr99Phpdlfodf4fBschudE45zXfYauTX/VQPKYOVeqnmpdWLYMVPt9EpZ9iMSrbHbvSqVMn9b3Q98ZRvDLIt8kTEvnzhtRO6+sNTTuscxgY2SzkX3YLOemLtMGVJOUmyG71TTmHXL5ZR9fVVP9UZVT/0dvJZ5fOnpvacKafLlp8vAqPrSUHPu1BnRd+zL1/8DiEy50k52DblXIyqIDtM2dFVqd/xj74ndU857jQrRxA18st+qo2hYQI4hbtc/XvfkR9+hxjVjcj26bWqCTC6npT1mT/xiG9fvsxz0NJTW1IOXmyccl6Up6bbzFnVeMz3lpiyo6tSv+PvMDiWDVOOc8qB0VMjv+in+limTK84O03sDYicNsnmnsVBZtTIbtQ+26i++qPrSUzbkOa62p5yisnMmWAHmcPYwA4p5yo/yfwl1OVGJPcq3V6les/O6nf8HQbHYNdx97KaX4nVQXP0giXJ+u66n/ZG2Fr1+vytT/UVD25Ux5hRw7uRyjqtpzO6nsTZPfFaLt/cWKu7YvmoraT0VOkgcxjD7ZZyPvh3n3sscmAexf8fh+rHD0/EiTtT73OFycMejxM4QMoBAAAYgJQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcmb1z+9P//3ff2T7+fWf2weBff397edqfl7br++3jwBAnfEpxy5hn3//fft32/e/Vl95aJ3K349fqyPft5Zf+ffr58XR7tuo8l0aN6N9+vbv7ctFheQUaomfUyq70TzmO55+YaI2tPVK3Oo0dbhZN3HtthwWAKc0POX8+bIoH2/ty4/bJ9aC5a9xv4z9SuXWWD74X39uH+3DD1WBVu5P809cW+v+0aMbNYO/5+lXhNdwW8zwTU6zLkitrtqGwwLgpI6YcuJ1tuG1S7TO1v1E5BS6ldHMPbHf/C7JS5lrrSmnUzcuLdeTHU+/U/Kw22KGjz/Nhgcwj0Vjy2EBcFLnTjn1T0Tid4HOMycpVsdrjrzUvdA7QWe6lPPawk8ESTmZpk6z7R3T48Ui5QAoOnvKqXwikijlFVkkGqFaX1p13u+vTe/6O27z9wacdehC7Hj606Sc5oM/XClSDoCi06ecmhSSesWTP368lLe8tOq0G62b3PL7/GLjX1ONOvFy+Njz9Df8A5SBp+mvu/VCM876cXLydzkASs6Ucn5+Mv/39BMR8/g/v/xll+B0ysk8k6+IaK+iQVDuqc6fJcn9Xl3Kje96890I/g1WYSLtevrj/mOi5VmPO01ZCgoR8+7cl/N5u2EBcFJnSjm/vtr3gsm7LnPP+/z7u7jRzAYR8/7y02dxF1vz/iLyLCo8JuvRmC/lvCne+rvX+iCnb5NTIj3Bhp2mTCShI19PMLsY+w0LgJM6Vcr5Lm7KU28BzMJ3OYIqiMnCap7vpY732zxKTyZSo3Fzf0x5F3uQbb6tG4XRc9LhQU7fdvyUs0vgIOUAT+9cKUf9U6Jmmf15qeB9Uo55w/raPfUgIRtK/AcS2Zvde9cR0Ec4yDbf3g05Jy9NX46DnL7t+ClHztuR74ZIOcDTO1nKUWUrXIJ1CumScuzXVdeNUz2xTxVc91FEzVOchINs8z264fw9h7wcpJzbJ+rIlDMycJBygKd3tpSjtvngBu+kkA4px+7b+/bQYf+QVfvShv+95EG2+T7dcB6JiSt+kNO3nTjljBxAUg7w9E6XclpeWtkp5PanGO0pxz7CXcdUoQ8/g1Ejc2kb7LVTpRzvqZidF0k5t0/UkT28tGGZg5QDPL3zpRz5uqEYR+yS97alqYIYTjl2tx8STONLq/TG3NdcKceJjPblIOXcPlHJeUt4aWNiBykHeHpnTDnqmIWd3j7sezdaU07hddVVxWjc0ftEOIq1OMg2360bcgv8mGn3DnL6thOkHCejv7Xuf1hGygGe3ilTjnr1Y25Ob9zXVReNKcf++qqYyr9OCDyMSe7K3c2WcnRqNA9Fyrl9oprzt1APrd+DSVIO8PTOmXIqXlrZFfaunralHLvPxr2p3FnLSUVuEhuVbHkpgy2YF0v6bcP66YLV1YOcvm18yok27zQDj3M+Wo9ZTcoBnt5JU446rCxe9ufv+9CUckKvq64qBuRKDYt775vaVy7Nq/6t+1+ne3TVjaOnnI6PKNaOk3L805T9VK0tjpBygKd31pSjHmyIrc5+gvJwwJaUY39XVNLal1ZyJL2/ZtB/yqOaPtpBtnnVjYpXKqkhPcjp286Sci6i763uWvXf65BygKd32pSj9m+rIIZeJzWkHPscZWmufGmV2pJvZJV3mtylDrLNq26Qcla/eGnHSzkXFUGntDpspBzg6Z035agjr+tX7HVSfcqxU4uz6VaMyYX8FinntZFyVr94aYdMOS+y71JfWjrokHKAp3filBN9aWVXulWZq045djfcMlr10iq1Jb/Jv7Eal3LKeTFEdSOfcrb9u5xOp287TspJnabstmrJ0yHlAE/vzClHbuEP+7TdgXUyqE050eM/kOGj5gmQ91sVd8zplFPxEKVFv270STkbn75tfMoZeJqprFNYWY9IOcDTO3XKkQe/+2T4dVJlykm/rrqSw6KLuBqW8DuCR3IDeJ6Uk8uaBzl926lTzo28HIuWeG9FygGe3rlTjnz1837w+OukupRT8brqSr600t+VX8nU/XekHD2epJx12+o0A1mncONxh5QDPL2TpxxZE29btf3r5k9XpRx5dg1NbieyZFftQE+fcvSzMTs1HuT0bfOknFc6gL628MNLUg7w9M6ecuTxXz4sapz95EMVRCflyBra1uRLK32bm/pjhSvZ+SdJOc5fLNkjcJDTt/Xbzo9yml7QCZ9Uv2EBcFKnTzmykH369sc+jtjF1XHy/WxuqgR7f0psD47jyVOOs4mKyEjKuX1iK7J0kHIAhJ0/5WT/MyL1u+mUU/GfL0Wb2lG8XJV9nPPUKcf74w91nONs/4YZU45OoqQcAFETpJzcMxX5zCObcmQB7dKSD5xeW24fkoeaP+XIOfnSjn76tn7b+YFOk5QDoNkMKScTOOQeJg8i+pmKVhVNnay7Q+shWnvWlOMPoDMtD3L6thlTjl5iehUv9E05q9R1iEsPwDVFyom/PNI/mkw56heT1VNWYd1V5yuvLVp55XHmTTmlofMvHynn9okq18NmDqIXdfzlbL9hUUXpEFcfgDZHygk+WXFLmyqIZj/Vh9P/rZOTz9Jp464FbnblBjBfyomGYP9EDnL6tqOnnIdLEDmUM8kTPek2LDXrFMARTJJydDm7a34EUUew+tnxxs7JZ/p8o/8vsaI//tfPmnJaWymhHuT0bUdPOfaUM2d46Y4lc0bdhsVZMukRBrClWVJO4H69UKYTKUeVvKp65+QzPUTet1pbyzOkSGu99x2ScgIP4Q5y+rbxKSfZFqcZzeXl5iyKNVIO8PSmSTnNt4DxlKP+04/066qr2ofho4LO6JRTuI5F/VNO7MId5PRth0s5i9PslXKSGbHXsHhrjZQDHNo8Kaew6xd3MvX1VT/VGVU/0nfyWeXzp6b2XCknftUOcvq2Xtv5qNOM/mmU2/J5otuw8CwHOKuJUo5bScubWTTldH1ddeWElfJjhi77x13T12W6lJN7MEDKSbXlaTqTPNSq1le3YdGrrPIJLoCNzJRynIcigaIWTDnqY03Frval1bvWLeStuWfhPHNKtcZtvkM39NxzHOT0bd2286GnWfveqnpxjR+W6ie4ALYxPOWIQuNWGfMrsUpnhqrgvmJ9d91Pu1K3bl19/tan+rlOsOh3eW6U/NMKQ1U3mmLo1UFO32bfTtTkudGnmco6rcPVb1iMRToksALoanzKwS7k/zv+W+uw6wMtnLgzKgsCeDakHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMp5St//+t9//mu2X99vHwGwnb+//VwtxmtjSQItNkk5ek+9tk7L+Mev1ZHvW+lX/vn9afmVdPv07d/b0Zb+fFl9ONB+fv3n9v0e/v36eXF8pxWGyy7Kn3//ffv3NpXXonkijZ0Dcd6V+vLj9qEg60q5A3WGQbBbr+l343egT9XS4Wbd+vzizdirvOsEBh6MTznBZdxYFmO/4qyNfEk1m11nOxw8Wxoe1Xbgrz+3AyzJ0NbWz6se10L23DF0DiSU7goyZyc2M32ZzjMIXutwe1AuKTVz7E5dzmj80ZuxV3nXCQwsDE858eXUUJii9cL5ibpnLas2LOW8tqo7mMIjrmIzf3Royul0LS4tt9cOnQNxodkSHef0JnGmQSi1ljv+SAcajt+wKg+0xBrK3bAJDCwcKOXU36bEb/t2Ku5dSva15bJg5nm4bsZ1kcN1oBL81sKPCQ+ywQe7EdtinzrlvLTKCRlLIUMPrlqPt4FDr/K+ExhYOFTKqbw3SqzYnYp7x5RzadGg0yfiXJpxUnK4elSfTtfivoUC9NA5EBftRmi3e/qUU/eQOHrjVHNj1jzCtXeDd4Ze5X0nMLBwrJRTM3dTe/no4i7Wbd+UE9tCWl9U3bd1+pTDddCUc2nlQRs6B+Li3QjcFeyUcpoHoe+Syd4+db0Ej/x6tb4uRt46TMoRV3nfCQws7JZyfn4y//f0AjaP//PLX3YpyRf3hr8W+iBLtuhPucQXFrkoDY/NOjX7iwdJOfpahM63OLuGzoG4+CYRCBPdUs7Gg5BbMsVbnVzqytwhJCe8vrh+Cr/rUnOCvBh6lfedwMDCbinn11e7MCXvjcw18Pn3d1H1diru2ZRz5RYLd8MuPW8vntTipw+fct4UXzRUDfjGG7x73ZettF6eI+W88u8NEoXFnEWfPosglXo3J/NTaHivYW7fJRaw7wQGFvZLOd/F9E3dqZj3cJcjqHu7nYp7XcqRK/ylObXVvxMNF+WPMTS+IgvZ/iXYGbSX5lTVoXMgzu6G3GX9B1RPlHIu5LS8tPDMNA9yOf0OIyOfOaWiUgdDr7J98K0mMLCwY8pR/5RY8KoeyWqyU3GvTTn6i85u7T7PSNzRvriWGKMMqeHqUn3ar4Xs3qXpGD10DsTZ3fjyo6p7z5VydIyI3z6ZNwmvRUmtrPiNmVybhXep3Q29yvtOYGBhz5SjSlJ4pel6NEvKcaq2yCuiKFxbv9KghqvLT/S4Fs4DLRmjh86BOLsbl4Gt2SOfLOV48z+WJOzXVdccoyZV+MZMXsHErV0XQ6/yvhMYWNg15agZHLw3curR06Yc/fm+lVQNV5fq0+dayJIqOzl0DsTJTUJv4bqHz5Zy9MwMpRx7uN7PvXVw9Jw8xBzr1I19JzCwsG/KUf8a2Y/t2X/b++dPOfYQyR+6tK51Qe4lPX6l07WQJVVteEPnQJzdjdf4rq+v2sLTm8RBBqF6yeSH6I693O7WmoopwRuzrW5CioZe5X0nMLCwc8qRD4GLk9iuF29LZZaUky0K6iwuzX72U0v+UI/q0+ta6NGzd5ShcyDO7sZtH9Vv4uyRJ+W8t3LKsb/7kGAaX1o5L1IvbbugM/Qq7zuBgYXdU45ab4WSZB/2fepPknKyFcGpoeUSn6KGq0v16XYt9K2zmfmGzoE4uxtve63exc098ulSjpyZ5SVgj9XixOXxQzNfXI779hCqRhl6lfedwMDC/ilHPQR2nz3YU//jKzOkHO+2zx4cval3L51ttb6g37WQY2geaugciPM3iWT2fbaUowenuATs5bPaeuXf1sRuJJw/F3tonW9LFoZe5X0nMLBwgJSjJr0zj+1KcVcX+qWcaHNXXbJkl2741G85KcftXgU5XD1+qF8J1iNp9XPoHIgrbRJ6Ohl3w91STrR1GoTKlKMzRHHy2L9oZCO5Sbs3Zu9Kq/uhjXqHNfQq7zuBgYUjpBy15OQKtz9/P++3TznuvZde1RVN/1BDic+Sw9Wj+qiDHz3ldLr/trvxsN3G74Y3TzmdBqEq5TgBohgX7O+aU6518jt3I3brn3WGXuV9JzCwcIiUo7ZnsavZK+ThgLOmHOPO8g4pZ0X20xrJoXMgzu7GY4edGfX4ROF5Uo4TcUoL58KuGCJeyIUWPne9VGUrnkLG0Ku87wQGFo6RclS0txa2fcDFJ2dMOcU9Plw4OpDDRcppZndj2WF9N/zwyadIOcX1VZz/sTF/Jwc/sdAqgk6/hTz0Ku87gYGFg6Qcteqir2mX+99cKSdY2kg5a7Kf1gY2dA7E2d1Yd1hvk/eX2z7aeVNORSvPSXvHdeabHKXc/HefP4nWZS0Pvcr7TmBg4SgpR834WHxZhaHtU4676lpLtrUlrzm/UpEPfJ2qvE0dPH8Wehex+jl0DsTZ3TDmgD67uw/bR9tpIcR1SzmRtWMXH/evYeQOnQ95qljJ1uHPdIZe5X0nMLBwmJQjH2A+VI3o+umXcrrkgx4lu1w9STkrfVJO99HzRSf5ReBu2D7aTgshrk/KiUSc1IB/kC9cKgcqlXVi5+UYepX3ncDAwnFSjlx4d58MP1g+S8pZ9MevdMXSpktG96KghqvLD/W7FrmtaOgciLO7YV/98t2wfbSdFkJce8oJdzj9uupKDVRbBJEzdtHW9TNl6FXedwIDCwdKOXKTfp/Q9ges57cnTTkv9LIvdoaUs6AHxDzU0DkQZ3dD7Z36HK9LzD7aTgshriXl5LoaryoLcuTb3ygFsk7bQht6lfedwMDCkVKOXNu3lzWJ6X7ilHPh1Di3gHqPgvJ/LuBSw9Wl+vS6Fs5Oad4KD50DcXY35BOCwt2wfbSdFkJcRcoxr2mROt+W1mes9Pb/2ppW9NCrvO8EBhYOlXLk2nv5sNjC7dJ27pTjFjhvedfGozw1XF2qT6dr4TwVs3eIoXMgzu6G3CQKd8P20XZaCHHpJVPHuzFoaM7FSvGCTtOKHnqV953AwMKxUo4sOp++/bGPI25ozp5y8jv0q4a3XUlquLpUnz7XwtkhRMEdOgfi7G54G6e+7l9+2EfbaSHEbZNy5K+0tm43FepyTJVyuk5gYOFgKcfdp42m5vrpU463STtdcqt2z5dWsvj2qD49roX3lw3qOEPnQJzdDf/xgJwtn3+aC2qnhRC3ScpJVptM6zZc+spOlHJ6TmBg4Wgpx9+nl00dZIaU4+zTTr1wn8B33KjUcHWpPu3XQnbvpcm0N3QOxNnd8DeJwimv2k4LIW6LlOMulubW6abiSVJOvwkMLBwu5WRKj64jM6Qcb9nL0Svcno5/kN6j+jRei0K53GkOxNndKG0SuT378IOwQcqRP9Gp6UWaoDvZlKKGXuV9JzCwcLyUE3+M7Ez0KVKOt+z1F0u1O1Ucr9fCyEZquLpUn/prUS6UXs4bOgfiKjcJ56Ks204LIa5yySSoOpO8E8gs0uvYZkZSF8PAfHAMvcr7TmBg4YApp7hPX5tbjOZIOV7gc07f+5OUa4vcZd4PyPrzsh71qD75axFNxv7VHDoH4uxuRHa1csh7azsthLjhKUeNVTo9OHNvcUfx8MnIeMpV1nw5hl7lfScwsHDElBOa6/6amSTleH+D7H3X+dZdsy+BNXTrQZD1t0f1cYp7UyvV2aFzIK5+k4gP3U4LIW50ylHHrzhN2dXlErNvP8xl6BzztSUfOK0Mvcr7TmBg4ZApJ3BrXliN/VJOstnvgxpKtvNgxnv31Ol0bm092vL4PapP387fWqDIDp0DcXY3YptE9G54p4UQ17BkItSyqkoPzpg/9Lb8kDXamgdh6FXedwIDC8dMOc23MrulnOSdWWCtOh1zo16/kjpByul7H1lq/twusrsR3CSCZ7HTQogbm3LUw87wID8KvrTqtSRbE+TF0Ku87wQGFg6acgqJvrhgJko53lAUxqFb0FmflByuHtWn17W4tvhD+KFzIM7uRnwDjtwN77QQ4oamHHWO8amyIHv7cMzoX4+5rfVd1dXQq7zvBAYWjppy3IpQLkYzpRxvKIolb1RhlcM1chPKt9xd79A5ENe6Sbib7q3ttBDiRqacrq+rroK3IpH922t9Is7F0Ku87wQGFg6bcpyJHljq+ZRTXlexNiDleH2L3H02nlqikF1aj+rT4VpUdWPoHIhr3ySK6dbp4UEGQXajfYKp4pAb4QVnwBdRu/YJa1P3loZe5X0nMLAwPOXYNSU2483VEpzf1nf9eNTlsYd6eGCWtvidmepb4t4uX9fcg9tbRaI/rqpr0WEbGDoHwqyxrSjr6oqXkvFxB6HTBLNzRuvGmftbn1TWaR5Mw8irvPMEBh6MTzk4Gnv/eGs9HsYAiHHizohwAzwdUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLl4Bi+//W///zXbL++3z7Sgf6Va+v5WwBG+/vbz9UqvjbWMq4GpZwfv1ZzrlP7/Pvv22+8+ef3p8Vn8u3Tt39vR1v69+vn5Yff25cftw8FWQvSW4r2Al6PwIM/XxafD7WfX/+5fX9b3vCuWnXZqhmT7MW92ihFFdZX8VdSw/7aCrPuzTwLP6yyG0P3YP/6tvz0nvXwng4369Z1qM0ZHlwdpoNM45mNSTmlWt/SFlM2X6/NJqZp+UT++nP7aJGYzbo0yL1Zf6XDaNTt7nm1XY0P+Iu6zPfRUuUjWHkbS1LsV7zK3rY8vUA8zcIP69GN3JQuK8+Q2l/ctR6+qYsFfQZZXu7asnmQaTy3ISmn05Wz26LItm5jt2bPktCJROf3SVLOa+t697PWescf6l7mbs9t0QoSH/yGJ2fREu/8RJdJYl6CaRZ+XKduXFq3jSpyFeoWeOj6DquHrxpKR7RjHjkCtQc/yDSeGynn2uxZEjx4rGScKeVcWsNO7OoTPkp3Zr0fKkQucWbwx91Mv7UNJsnqJ6ZZ+HGduvHWOrx6iOWAql1533rYenfU47WOnOFV43lxkGk8N1LOtTWlnNj6OVnKubT+QWeb5ytj3psUa3dq8OtuphOzfZNJspgh0yz8uE7duG9t71aik7/mVw5aD6Otw0srOcNJOQd2+r/L6TNLxLKMHzywaZ0v5fRePK0vqu6bHPCBc69QJXODX1EWUxlxq0nycCFmWfhxnXapRatfd11L1tKe9dCf/OtvGVNx3pTT4zHVxMaknK772WNbzlQ1S7o8h0hMwfI82zXliK+UN7za1bsiTv+xWVfN/qIoo5GJZxe70LV2R0MN5s9P5v+errnm8X9++cuu/r0mSTFaPcz8SRZ+XL4boYVQuyVnxj+/tHesh/qn/UR4NyA9okC2wBYdZBrPbVDKKZGlM30TM3SWJFZ1+fbliCnnyj3Numq7UrrLL16vRSfN0S5dr/K5yAG8NW9+qu/++mrP9uTNtDl/Pv/+LpZS10niD0viRE6y8OPqu1F87uWuWZt5zE+fR4+52brWQ5neQpf7OusqxnOlrsA6DjKN50bK8dgHl1XD30SPm3Jk315a+opY/FvM8E98TBvrK3JSvbZ4GfK3n/zg//ouhjd1c2me3eUI6qx7TxJvh4uP7UkWflxbN5x199KSOdjuzKUnvcbKPs4G9bDftGlEyjkjUo7HPviXH1U/euSUo7+YL7UGNzdUPdIwCqgcrktLPqx2RsOp3epblxMU/5SY7ebZvcy3rVKOXrOZ4SXlrPSbt+a9xOvAqgWYXBd2Vzeoh7KAlJ/O9lW5drSDTOO5kXI8alVXrbpDpxxnD2tOOeLEr622Oqw4j4vSk8rvsxoQJ+Wo4Q3PUr2BqQvXf5I4YxLebEg5hk5T1yxKtxyjfiI37LvVQ3n8iqXdhJRzRqQcj1zVuuLr382s6lfq1JyvHDHl6CP3LFKyDtbOBH1ANZheylFXP3gz7Wxg26UcPSFJOauW60Z+sq3YE+y9G136aR/kpYeD62H31V2LlHNGpByPffDX3UVOd1nxT5pyWoOIHqj60rAmx6q+/84dtn2J1ZleY6L410j37JlzS58bphx9KUk5y5bshkwJ0bG1B/ZuVFVQyLy02q0eymlzaa0FKqV67SgHmcZzI+V4nFXt7YL2jD90yumwgQnyLNqfEn3Qm0SmiC/ontuzVI3h22mKCVOsj/Ziebsuaikdc5KcZOHH9eqGHtvQyNhff5j8HV5a2Se7RT10bjkuLT15qlWvHeUg03hupByPu6qzhenIKSdboeKc8tSan+4M6b++vnY+U59//7C4oIVxsA/7fl4bphw5IUk5q5buhhyZyM2AXVsWfaioJwv2Ebaoh/o25r013M/EVa8d5SDTeG6kHI+/qpOb62FTjnef1Pq4RdfunlWpaYfQ9F8D1KUcdUC3k/a0+fiKOvfOk+RCz5P4pTzJwo/r1w05vOVD2aO6GlI5n6Mhdc96qBfjY+t472Qg5ZzRtCkn2tzZWVrVetIbJ3LAlFO6Q6pduh90/uhw8HfJOBKlO2/WoHLKUduAMxT2qd2VctXJbpPkjR7kREU+ycKP67dL6cVY6qp9QY3oKVNIcJnsWg9LxeqhpadTUOXa0Q4yjef29CnHzf7FVZ25fdk15dS0HndFXbbGkkxtzeifctQ1lf20P38/ATZKOc4ekxnkkyz8ONWNDVOO/UWzAxUl5Z799a3qobMeRWtb/pbDpZzBz67mQMppTDlesHi8QzpVyjFuBKucOuXokl2dctSAiNGwO/BwwC1SjhNxklOFlKPJM/JH2B5SMZ5yPYZGY996+ELXE9l6lbJX+bVTcJBpPDdSTmvK8W5fHj55mpSzSf5YlLwm+lcaS8CAlKOOadVi+4CLTw5OOc4VvLbcdSTlaPKM3H06VqPeySkduY6x3xpVD28qgk6/apNaOxEHmcZzI+W0pxxv4d2vLvtoennIU6vYwGKtVy145/Sn42/pXzlgylGXdT3z7W1g+dMdU05FyxZ3Uo4mz8hLOfYUdX69oqq8s7+7VT284z5cFK1LwZFrJ7sQ3sjLEW2knDL++tibndFV7ay6uw9nV7U8Nf2V1g3Mq6c1nP5UbAOK/pX0dHogZ2lTylF7QCy+rM5ox5RTMVtOsvDjVDfy01vXEKer9lxyB1NGkPJ+uW89XNLLU7S2avBKrp3a6XSQaTy3aVNOl000vKpDty/ZVS0XgP5Kjw2s582B05/nTTnyEdHDyEfn3l4ppyLiXJxk4cf160ZNyolOkge5J5T3Ej83oB7aUlmnbtLekWsn2+03B5nGcyPleDJFpHz7kl3V6tRqNrDFV/zS0FwLPuhiV10X1pxtu+kxdaBS3wunHHll7z4ZfhOxR8qpX1ykHKkifKRfV13JwlJa+PYXt6qHLjl6i9ZUEEg550TK8WRWdXlTzK5qdWo1G5jxFV2GOq6xTVJONo5EycPaszSecuSR38fE/oD1u9umnNaJQcpR9ByWh4pPkoXkxH63bz0MCGSdtrJDyjkjUo4nt6pLty/ZVa1OrWYDs7/iFIX0hbDJC31p/V6N6V9pmQY6Ddg9T6QcOfK3IyemyiYppyks3iPlCM5FUYMv60ND87tt/+JW9TBKp6vX1lR2kgW27CDTeG6kHE9yVRduX7KrWp1azQamvuJUhPZy82J8kHqhf6X+LMqP3BcyKUde3JcPi9Vh73YdU06fK+4i5dicB6tiV5Yj2dac4rZ3PUzwgk5T2SHlnBEpx5Ne1U61+vIju6rVqTlfyS/CfHnNcY7fcSUPOAtnFxGDmUo58vifvv2xj5Pc7XpOkn5OsvDj+nTD2ZWTkbq5eRdi33qYIosnKef5kHI8+VXtFKzPP80Fr5eHXKh9NzBdYbuMoVuOuwSpF7qoiZBR4nRbHVB9RXzey39GU1eQlPPYTphyvL8mEcdJTp5Mc3q+bz3M0b9Lynk2pBxPzarWXbKbXh7yOJ03MF1kS2caIq/1S+u2mPN3wx6vzzKZJVOOvlhWk1mNlPPYNt4e2rvhlovkA7w+Tc5wu6tb1cMcUg7ekHI8das6V4P08pDVofcG5pShugchj/z7zqaic6fihlhxO5wf/HRAMZp+6KUO0nuS9HGShR/X2A1n6b00cUXkFezU1Iy1e7tVPUzRQ9T0/Lj72jnINJ4bKcdTuaqLxeu+6eUhD6K/UrkInTLUo+iUinKq7lwjiDFP/DGPxzX3ON78VKepfzr83sG5CqScx3aalFPe+9WYqGmTHMP8qrdPdnw9vH49c2X1ygr01kHKOSNSjqd6VQdK2FvTy0OWBv2V2kXobLfpK2LxHrRcWySF3A+I8fnSmAemRCl2uMOYTzn6ej009xKos+4/SXo4ycKPy3cjGm3lEdQYpvdvpyf2jcdO9fChn5HrKytn8/Qg5ZwRKcdTv6rdlfbQ9PKQRxixgTl/11K7gB84x79rdiCwZot5fUNjbp9OOYcVnzlVpJxQ9ffnmzrCiEnS7iQLPy66zLNNX3R1+SpOXM4EMWntkx1eD+21afbQOaPX1nrPVjp+sS07cJBpPLdpU06y9b53uYhsYJemtxZ5akM2MGebb3qT/a7Tlbo1UQUiYaWyeWHllRp894vlO/tCvSPlNLXWud13Vt+aV2HUDK/av50aZU2Gnephv0XdPMObU85yOR9kGs+NlHNr3e9dLkJ90wtPfl1/pWUDc3rb6caiZwSRXYo9NMq2yAhUpZxi3SytCFJOWyuGV1+vbnw0v7yo6R0uSo9yL63skx1eD3vVjQ5RoD3lLE7wINN4bqScWxuRckK3L3prkac2aANzeltZQ9e6BR1vVfcOOsGQV5dyCpOkOPLq64MmSaOTLPy4Xt24tuJMUz9XfR/ibNvrY+5UD6N/yeS29AQzkXLOiJRza0NSTmRV6K1FntqoDcypJn1qxKtNala3oJM4cTX4pQLkDUh59yLltLXDpJzIk4aur6uunOSxKnS71cNIPPJat/JV7n+xPZ7gQabx3E6fcjpMu9c2KOUUN3VndsoFMGwDcwaz+mbR1HjVYku6OU4ld311UsXe6tEILIdnTTmNU+i9NW4PHboRH3Y1ermKtOAsk2Xw2rUe1j4GbhqcpfbLvSikB5nGc9sp5agFU1NnmzezlyZupKyyUjGf1FQuRAe7qPn7gVkL4luIGsz0JhSRX+EV3aiaHnX7vXm9YkXWXA7BmWZ91x2omnnVzTkWfkJVNyq3Xnunb93h4n/rs289fJHKOh3+EGfNnsDRtl5lB5nGM9st5QAf7H33rfV6xlB6jcX9EHASTtxhy8cDUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAc9op5fz97ed//vs/q/36fvsIcHrf/1pM7/fGPO9GD/K19R/qceWLwgj0tm3K0Wt43cqr2j7a599/3/4948ev5XEuzT1U9NfNI1/aX39uH6hiV/bVMXsO0do/vz8tjhxqzfW68ncf2qdv/96O1t+/Xz8vf0630mgc5GT3utbSny/L3yq3Lz9uX67Tt3zd278wjp1mNRfrP//9+fWf2/eBBpulnLpV5EUBuZfka1nFoeS6XXxF16+GNawGc1nIop2sktrLRauJej1+99J6Rb0HtX2T43CQk93rWpvqtsyPVpP5+pevN/2PXLHqh06zDgfvUa/wtLZJOep5RqBVrMz8kqg4VLiU6HOvvsOWyWlZ+4amnNbN5qPl9uBOv9s95TRM8tdm3qMf5GT3utZLmWcebkt1Y0j5ejXkyBWrfug06xShBj4XxNw2SDlt1V9HgZOkHKeCVFb8eG8r6l1cp8r41sKZb2hFrtRn9zVu0A9ysntd6welv7/JttiuOap8jTtyxaofOs16pZxL4x0WKgxPOc3rRz6bPUvKcapz1aKVj7jXVbui3sV1qoz3LfKEf2xFrjHyAcNBTnava/2hd8S5tmLQaT5xeZo7HPn8KefSCDrIGpxy/A0gFAjOn3Kcm7aKm9rw66qLinoX16kyLlp5P+7zu3WPEwxtd+SPLZFTU635ZPe61jdjIs5rc8PWuPI1sjBWrPqh06xvymmP7Hg2Y1OOXjz+TL3bOXSBPk/KqR4HQ6qrFfUuTh1c32wF/9DS3Xhqfnec0BlZHbO/GE85G5/sXtf6VSRH2seR8/++Vazx5vI17sgX8uD5M+0yzbLVtZyKepQvPI+hKUeWp9Diud7u6Al9opTj3IzG/jjgXeJ11UVFvYurr4zFW3O3e0Mrck7pRIpdWpzLRCnnTdu1vlA//dbKOam0a6pgMa58jS2McsTyX+kyzeoKtXvdI+EYuBmZcuRT2fQDDNOZUo6ua7neyiFN3svmh2itrTIW7vWd8De0Imfoa/rSwpP845oaXznIye51rfWEf23xaeyHLfM448rX4MJYseqHTrPaQu1Mmz4DhScxMuXIytIniZ8q5ejPp0ZDDKkqRhX1Lq69MuoxqXkgv/HG72+cVY/ojJlwkJM92rV+afpbJrnGX5q1BseVr8GFUQ5avpp1mWbVhdq5ZMn1hae2S8rpk8TPlXKcTTG+YsWPyvGsqHdxPSqj8zgkfVLbbvzu84kew3t1jJPd61rXTA/Nu2TGGhxXvgYXxopVP3Sa1Rdq/SSPlIO4XVLO3otnZYuU0+GllThC179DjOtTGfUkUZ0cWpGjvDcpffaqq0Oc7F7XunsBSXVgXPkad+RXFat+6DQj5WBfu/xdzqV12AnOlnL0rwSfVIvi6FSiik7GdaqMzh22PSxDK3KQvpR9xvbdEU72YpdrLWdvffVwHg6tOjCufA0ujHLc8tWsyzQbkHJ63khgeiNTjldTLq11pp4u5TTemohf9IaxppNhvSqjTgz2qQ2tyEFyYHvfZR7hZC/2uNY6EiX/IueevnDrDowrX2MLozzHfDXbN+Xo2dLnD5jwJIamHPdvF66toWBVL561ikNVlBJvQMp9Tr+uuqjqZFS3ypgMf0MrckzmkUCbA5zsiz2utR7khtmrN851B8aVr7GFsWLVD51mtYV6yATAExqactwX4Q+tZm84YcpximxpBPKvqy7qOhnUrzLKcmYeamhFDnHeODRsTqb9T/bVDte67cGnpCuScdhx5WtkYaxY9UOnWVWhdm4k2iYAns/glBO5a/louUe1Z0w51bVb/FxhxCo7GdOvMuYeccmTCrb2c3dSTo+Bvbf/yb7a4Vqn4kicvnbWuYwrXwMLY8WqHzrNktW1NDKdpjSex+iU424Jdosu6VOmnOSO/kbc2ZSeHNR2MmSHne9Va0Vuf6mkN+Au97739j/ZV9tfa7kkk1v+Ui7lDCxf445cseqHTjN9KStan/mMpzI+5VxEH8/etcCT/3OmHGfN6wUsBrC4x1R3MqLfzqf7aU2DoRU5hJTz1sZd61EpJ/l69MWY8vVizJHlCJ895QRHFXi0Scq5qFjPpUfTJ005zj2cOl/xW+VyX9/JAHXw6VOOU7W7/8XA7id7tf211oPceEb5lHMxoHzdDDiyHOEzp5yKmQZcbZVyXqReRd+as57PmnLSL60qX1ddNHSyTB2clNPR7id7tf21PlbKedG5fN3pfGQ5whXVLNoGppzuawrPZsuU86rf2+jTphz9c2ZwEXd7kcXf0skidfD8zpeLfa0Vufncnard/Y5z95O92v5a60Fue2OV/buchTP8mU7Fqh86zZz1EmqB2znAsXnKuUotaTHLK6KJUnGoilLyQZ6+UbnED4XuaJs6WaIOvlfK6Z4wlCOknM1O9mr7a33QlHPVo3zZehy5YtUPnWatKeel9Xkkiee0U8q5kU+PF818bnHilKNr/aqsiE/GzrGtkwX9KmPuJcLQihzi/C1Fj4G9t//Jvtr+WjtbY9MrDH3t8odtKl+upiNXrPqh0yxaXf2ExxMd1No35VwFlrS1Ps+ccvQvLhazWPnButnYSV+3yqg3HvNQQytyCCnnrQ281j3jyB152OpHRJXlK6DyyBWrfug0y1RX/ahv8zmPaRwh5bxydo6XZjyxPHXK0TcuD9VWdCz6/La1k65elVEOfvJWdbsi6N10dn60vv/JvtrhWutBbjl33YG2C5cvX1H5I1es+qHTLFldnWzX9rISz+owKefCW8/G/JaLJ/9sUx3KWeQVpeRR5KVV0+uqi+ZOejpVRufuzd4bhlbkmO0K8QFO9sUe11oPcv3s1R1ofyGSLF8JySNXrPqh0yyZctzz7VG48GyOlHKc9Tk45VQs8opSslDuf9vrqov2Tjr6VEanoonr2Od3mzi7deduHOBkX+xxrdPxt8x5CDdyRbRn39SR5Yf1OQ6dZumUM+LS44kdK+XoOmiVidSHPfKu0ckTFaVkqfTSSlSHxDrv0EmtR2X0/vJAHWdoRQ6Shful9SzERzjZi12utZy9tX+a41y1ugMudatIK5kjy3E7TcrxAvHGMx8TmDLlJFdCVW2qKCUr8pbltf/iXzMBpUcnpfbKKLv30mRWGFqRo7w/zenZk0Oc7F7XWi/wmhdM3iXrFEyrKklI5shyqE+UcpxMXHHp8dyOlXL0zZZZhpy7w3jZqnw6WlFK1uT5XlZy8+uqiy6dVBoro+zbte1UkcOcaXNpzbvam2Oc7F7XuuZRn+Berx7L4SJZvhJSR5ajvdOaqko53pwp1MBVItx4seBoBqac6zTNzDBdiez87lauWOTX5aN2EeYqpqrjn399MTuWK5edOmmrr4zug5DXVvMUbeNa5s2cl5a6UteZnLgv3/hkj3atry2e+N3j2B24fmVE+Rp35Ct5sqdKOd7M0V9Uv7XxesGhjEs5DyszMsmcSqS+XthpSkHH+cVL82toRSkx+X1Ytl4HTx7HpA6ur7WbSu+aP1vyvzuI96Th2iLb8P3prD9/kJPd61oXQ1JgHEo9sdfCuPI1vDDKz+tVP3SaVaYc78KpZOx8pfVxGs5rXMqx9wCz7pdui527vfJOk7vdeW/VCSkbIJw/Pli1+M3rVbdOWspjWNdqR75LRc6JXTv7qln79/oUDnKye13ri9BP2/M5UBzk5jeufA0vjHLETpZy3PWVvuLOJoLJbZ1yapq7GEqFoK6Vl0RFKRHCAxXYEhb6ddIQ2n6yrde2V2597u36DkI85SRb68nuda1f9askq6ZvG8aVr+GFUV4sveqHTrP6lOONlflbzudJOc/r+CmnWKBLT6TzLXIHU1FKlGCJqbiv6tjJtU6V8a7Ftr1ev5t9MCb027QGppzWk93rWt9knnfGm7ugxpWv4YWxYtUPnWYNKcfrmHH5vPebpJzntdHf5dS24NTsudMEE0BFKZFCRbxmlfbs5Eqvynht8Qw3tCJX6Tb91l06yMnuda0/9A46pT6MK1/DC2PFqh86zVpSjhdcjKDsrERSzvMal3LKfzlYaql52eeJToe9tiZABLbJ1L3vm66dXOq38xUf1z0YWpFrjdq6DnKye13rB92CTqywjCtfgwtjxaofOs2aUo63stbjoD9cVT8xh5Ep50XtbW7VpGz7G51Y7XtTUUocxSpTc/vbu5MLbaP92qq60eF3X1vXlPOisWO5HSLZGk92r2u90pwmc90YV74GFsaKVT90msmDx66F07d1VVQfrqufmMPolHOVWtINd3uv8vcluXxzY9+QVR3qhTtE1TcinTu5ULXldLip6vLgpHWaKfkNw78cBznZva61qaoz9TFrXPkac+SaVT90mpmnGa9Cqm/iCKtnft3vZ3Au26Scd86qHrDrFB5xD/hF4J3/YqLPs42nV3qN1XWHG1e+ti2MwDPZOOUAAABshJQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJgTKQcAAMyJlAMAAOZEygEAAHMi5QAAgDmRcgAAwJxIOQAAYE6kHAAAMCdSDgAAmBMpBwAAzImUAwAA5kTKAQAAcyLlAACAOZFyAADAnEg5AABgTqQcAAAwJ1IOAACYEykHAADMiZQDAADmRMoBAABzIuUAAIA5kXIAAMCcSDkAAGBOpBwAADAnUg4AAJjR//3f/weXUoaIf7riWQAAAABJRU5ErkJggg==

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "201":
          description: |
            Succès de la requete:
            ---------------------
            Présentation des données envoyées.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête
              execute_time:
                type: number
                description: Temps de l'exécution de la requête
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels
              resultats:
                $ref: "#/definitions/ListePhotos"
          examples:
            application/json:
              response: OK
              message: ""
              nb_resultats: 2
              execute_time: 0.00077
              resultats:
                - photo_id: 1601
                  url: https://expertiseconcept.s3.eu-central-1.amazonaws.com/documents/expertise_%26_concept/2017003128/2017003128_2017-01-19_20-10-59_AUTRE.pdf
                - photo_id: 1602
                  url: https://expertiseconcept.s3.eu-central-1.amazonaws.com/documents/expertise_%26_concept/2017003112/201700312_2017-01-19_20-10-59_AUTRE.pdf
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
             $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: |
            Aucun dossier trouvé pour cet identifiant.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                La pièce n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "500":
          description: |
            Une erreur c'est produite. Veuillez contacter le service informatique.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Une erreur s'est produite.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{id}/proces_verbal:
    post:
      summary: Génére le procès verbal d'un dossier DSP
      description: |
        Génération d'un procès verbal d'expertise d'un dossier DSP depuis un identifiant de dossier et de différentes informations.
      tags:
        - PV
        - Tous
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          type: integer
          required: true
          description: |
            Identifiant unique du dossier.

        - name: temps_redressage_1
          type: number
          in: formData
          required: false
          description: |
            Le temps de redressage numero un

        - name: temps_redressage_2
          in: formData
          required: false
          type: number
          description: |
            Le temps de redressage numero deux

        - name: temps_peinture
          in: formData
          required: false
          type: number
          description: |
            Le temps necessaire pour peindre les pièces endommagées

        - name: est_reparable
          in: formData
          required: true
          type: string
          description: |
            Texte des boutons indiquant si le véhicule est "Réparable" ou "A l'étude" ou "Non réparable"

        - name: montant
          in: formData
          required: true
          type: number
          description: |
            Montant d'engagement sur le coût total des réparations vu entre le réparateur et l'expert.

        - name: files[0][0][name]
          in: formData
          required: true
          type: string
          default: signature_expert.jpg
          description: |
            Nom du fichier de la "signature de l'expert" pour certifié que c'est bien lui qui a établi ce PV

        - name: files[0][0][data]
          in: formData
          required: true
          type: string
          default:  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/4QAiRXhpZgAATU0AKgAAAAgAAQESAAMAAAABAAEAAAAAAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABbAMgDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9/KKKKACiiigAooooAKKKKACiiigAooooAKKKKACmySLDGzMyqqjLMTgAepp1fM/7d3ixfjR438G/s26XcS/bvin5moeMTChY6d4PtSDqG88Bft0hg0wYYOFv5pUyYDQB9D+EPF2l/EDwlpevaHqFnq2i63aRX+n31pKJbe9t5UEkUsbrwyOjKwYcEEGtGgDaMCq+qapa6HplxfX1xb2dnZxNPPPPII4oI1BZnZjgKoAJJPAAoA4v9pb9pfwT+yF8F9a+IHxC1y28P+F9BiD3FzKCzyux2xwxRqC8s0jEKkaAs7EAAmuV/YV/bX0f9vP4M33jLR/CfjfwUul69qHhy90jxZYxWWpWl5ZTGGdHjjllUbZAyEbshkdSARX5u/GD9pPxH/wUC8faT8ZtH0+4vtL1fxG/gX9lnwtfwvHDqurmOQX/AI/vLVss0djAl1LbNKq+VHCTtilmSQ/qN+yh+zX4f/Y9/Zx8H/DPwx58mj+EdOSzW5uNv2nUZiS895OVADT3EzyzSsAN0krtjmgD0KiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKhuNRt7S5t4Zp4YprpikCO4VpmCliFHViFBOB2BPagCPXNcsvDGi3mpaleWun6dp8D3N1dXMqxQ20SKWeR3YgKqqCSxIAAJNQ+FPE9n428LabrWmySy6fq9rFe2rywPA7xSIHQtHIFdCVYZV1DDoQCCK+f/wBojUp/2rfj/bfAvT4fO8F6Hb2uv/FC8+0L5NxaSO5svDrR7WEv25onku42IUWUflSKy36EfSFAFXXddsvC+h3mp6ld2+n6dp0D3V1dXEgjhtokUs8jseFVVBJJ4ABNfM//AATO0vVPi9pPjL9ojxJEYdW+O95De+HbdomibS/B9r5q6DbshlkAklhmmv5eVIl1SRCq+Wqrl/8ABS3Ubv8AaG8YfDv9mDRZH3fF64l1Xx3JHIY2sfBenvEdSXerq6NezTWenr8rBku7g/Ls3D6ytbWOxto4YY44YYVCRxooVUUDAAA4AA4wKAJK/Pr/AIKu/FK9/a6+O+gfsgeFvEDeH/DmraW/i/45+Jbe9W1/4RfwdCebFp2ZVjl1FgYj8xaODc7xPC7EfVf7dX7Ynhj9gX9k3xt8WvFzbtK8H6e1zHaK+yTU7piEtrSM7Ww80zRxhiCF37mwqkj81v2K/wBlbxV+1lrHib4ceK7i5/tTxzrlt8RP2ovENpbeTHf3s6rPpvw6tZpMzLb21sYjdxpI/kRM0IkX7YyKAfWP/BOb4YWP7RHxHh/aKbQ7XRvAlj4fTwZ8DdFWCSH+x/Ca+Xu1MxOF8uXUjDC8YKBorOC1TIaSYH7SqOzs4dOs4re3hjgt4EEcUUahUjUDAUAcAAcACpKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA434/fHbQv2b/hXqHizxB9smtbNore2srKITX2r3k8iw2tjaxEjzbm4neOGJMjc8ijIGSPn/WPEnib9n3wr/wtTx1otn4l/aE+JTp4W8GeDrS6Wa10JrlhJFo1rOE3i3jEIvNTvVVmkWymn2eTaWtvDT0j4n6B8YvGWqftL/ELUV0P4JfCeK8j+HrXM5mtNXJ/cXPijyUVvNaYb7XTTFveS2uJpY941FEXwPxL+1tKn7YM3xK8czeJND1jw5Ztb6b4HtIln1mDzBYtY+FolQSQpfXs2o6Rc6jc+bFGkt7oenrLMizyOAfeH7Kv7Pn/AAzn8LP7NvtU/wCEk8Xa5dya54s8Qtbi3k8RavOF+0XRQFvLjASOGGLcwgt4LeFSViWrXjL9ofR/CXxq0nwOI2u9SuNKufEGszrPHHb+GtLiDIl3dsxGxZpx5USnmTyrl1yttMV+N/j7f3nw/wDFPhzxV8Ytc1rWviF4fjsvHfiPT/DN5M2n+BtPhvv+JZoWkW8bRm4vtV1JIbBJLhWm1JYtRRTFEIrSLg/2ofhp8RPiT8N7b4C2l5oNp+0t+13cN4i+JzzXb3EXgfwXbcTaf51sPM+yRRvDpUIGxLme+vplaN5ZpFAPoT/gmrNJ8WbH4jftX+MphpkfxlZJ/DC6iotV8P8AgfT/ADhpW8yE+V9pSSfUpTv2g3yjC+XXR2v/AAV3+DWseKtFt9Hl8eeIPC2t6pHosXjrS/BOrXXgyO7luhaQqdYW3+yPHJcssQnikeAMw3SKOa+GvCP7Wn/DeXxx8RfC/wCMmk61rHw1/Zz8UX/hV/AHwu8Daxe6b8UNa028eK3l1NIVuIbHSbeH7GU0+6ulglumkaaSSG3RKx/+CvP/AAVd8deBtBu9MuPhfBoy/Di80jXLL4fnVre9vLPUBeJ/Yt54nubKY2djapdC1u7fS7eeee8e3R5ZYLaKVJQCx/wUx/aR8ef8FF/+Cy3gf9mX4M28l1Z/A/Z4m1jXzAlxpfhnxIygW+qXaNlLldLhm82C2LIJr6QRShkRhX6pfsufs0eGf2Q/gdofgLwmt9Jpujxs019qE32jUNYupGMlxfXc2B511PKzyyyYG53YgAYA/Oz9if8Abq/Y8/4I7/s9Wvh/x18b/AviH43+Np31/wCJGq+HPM8Sajr/AIiuJHluUlfT4pcCOaWSKJH8sAAttVpHJ7/Rv+C5vxD/AGjpjD+z3+xn8eviJG0bPDqviv7J4K0a4AUMGju7pnRgVdCFO1mDcDigD9FKK/O2HTP+Cmn7S2mym61X9m/9mrS7yTfALO0ufFfiTTkEg+SQyM2nyEqD8ygZDdFPK7Fn/wAEZfiZ8W7Np/jX+2p+0h4u1GfYZ7bwXfWngfSZQECsjW1pExKnA+665IJIJY0AffVFZfgXwbY/DnwTo/h7S/tn9m6DYwadafa7ya9uPJhjWNPMnmZ5Zn2qMySOzsclmJJJ1KACiiigAooooAKKKKACiiigAooooAKKr6rqtroWmXF9fXFvZ2dnE09xcTyCOKCNQWZ2Y4CqACSTwAK+Z4/24/Ff7U2sNpf7N/hjT/Enh9ZxBdfFLxEXj8GwASMkrackTLca5IhRhi3aG0Zht+2qwKgA9++K3xc8LfArwBqXivxp4i0Xwr4Z0ePzb3VNVvEtLW2XOBukchRkkADOSSAMkgV8N/tRftj+NP8AgorPZ/Az9nnwzqVjYeNNNh1vxH438YW1zoemjwv9qhjnS2tto1EtqEbT28Ezw20cyJdPbTsYJJYPoSx/Zz8MfAvw9cfFP4z+NNS+I+veBbO51658S+JQkOmeG0hhZ5rix02EC0s/KiWUCdY3u/Ld0e4lDHPgXw40Tx94607/AIR9P7T8JfG79puQeNPiNqcRCan8KvB+1oLDS45lSN4bxIAtnbBsYvH1i9jDeTMjAHgX7Q9j4s+J3grVNS8S/GHVdQ+HHg/UW0XwDYeGdHh8I+F/+Eg0qC6e+1i3W0Y6jHomhW9pdSbZNQd7m5s5FtikiWRuPmT4EfBPxF40+MUnjTwLr/xU8E6boLX2u6H428Y+M7rU/wDhE4rCOU6x4i1CwujOt/cW0lzexyWi28UT6rr2uwLdGGBJI5/2uv8AgpR8M/G8Pjjxhb+JNC8D/D34RmP4f/BPw/p04mutZjtLmG3j1i2sVJMmlWlxbjUi5EcVxcaHpUKuHsJVn6v9nz9gL9rD/gotoWsQfD/WYf2af2QfHFppll4a07xBY2mtapqPhnToVGlr9hKmVluXEtzdR3F2sVwdQmJWVXczAHe/sT/F/Xfh3/wTss/2wv2t4bKx0/w7Je+PPCmiahcQw6j8TfEtysv2DWrry4kXzvsbW9jp9usXl28MRuNoVYDB84/8Ev8A/gsB8UdItvHXjjSfgj4w+MX7WH7WniS6tfDWtGwaw8M2dtZW5jgsoriZ/wB5BYvulmii2RpAYfOulYZj/Qb9ob/g3s8K61+zP431BWvv2gv2iPEGmRWH/CW/FTWmunkga4Rru2sg0UsGmAwNdJbPFAXtnkjKyApvFX9lfxvfeDP2l/HGveF9D/4aw/asvoE0Lxh4n0e7TQfh38MbSKZH/wCEXtL+YTG3ht2ZmMNvBc3U8qmW5WJmPlgHk/7E3/BJn/goJoPw6vfDd9+0ZoP7OfgHxAhvrzQdCtIfFuvDUpkRdQujeTRRm1ku50luybW7ZIpLphHHGBtHlX7On/Bv/wDB34qf8FbfFXwzude+JHxY+GPwa0mPX/ifc+Kdfk2eI/GOqxs1vbr9n8h8Jb5upJVeR/MxDK5Bwf0t+Lv/AAU71L9lH4IfG7xB8avBvh7wP4g+EPh+z8Q21vpPihtZ0nxLFfi7isIbe6mtLOUXEl5ZXFu0T242/u3DOr/L8X/8Ecv+CmnhD4P/ALIen6f4L8A/G/8AaS+MXxJ1e78bfETV/BXgZ4dLj8QakxuJ4rm+uXhtI1gAW13xuY3a2ZkADBQAfpv8Cv2HPgx+zC7SfDr4T/DrwPPJtMlxonh60sriYru2l5Y0DuRubBYkgMcV6nXwRefEz/goZ+0/axw+H/hr8EP2YtJvrYwXV74p8QyeNNfsy5x9ptYrNI7PzEVgViuN6l4yGJDYFQf8EKb/APaFmuJ/2oP2k/jV8e4btwtx4atL/wD4Q/whcRBt6q+mWL5MgYuPMEwJVgMZVTQB7Z+1f/wWJ/Zj/YjvpLL4lfGbwfouqwzm3m0qzlk1bU7ZwSCJbSzSaeMAggl0ABBGcitD/gnp/wAFQ/hH/wAFQPCXibXPhJqWtanp3hPUE06+lv8ASJ7AGR4/MQxmRQHBXOQDuXA3KoZC0Pwi/wCCQ37LvwM8GXWgeHPgH8K4dN1CIQXgvvD9vqc97GHRxHNNcrJLKgeNHCuxAZQ2M81714R8H6T8P/DNjoug6XpuiaNpkQgs7CwtktrW0jHRI40AVFHYKAKANKiiigAooooAKKKKACiiigAooooAK8e/am/bU8M/svz6LojWGteNviJ4smW38N+CPDcKXWua0xcK02xmWO3s4s7pry5eK3hUfPIGZFal+3N+1jefsxeAtDsPC2jw+K/il8RtWTw14G8PSM6x6jqDxvI09w0YLx2VrBHLc3EoGEihIB3OgLv2Nv2LrD9l3SdT1rWtYuPH3xa8ZFLrxl461GBY77XZwPliiRcra2MP3ILOIiOJB/HI0kjgHB6P+xR4q/a5mtPEH7T17pWtaesourD4UaLK8nhDSiswkhOou4V9buk2xktOqWiuoMdorL5zfU0UawxqiKqooCqqjAAHYV8l/Fj/AIK8eDZ/E+oeC/gP4d1r9pj4mWYZH0bwRPC2kaZIEcj+0dalIsLNdybCpkeYMyjyjmvDfCXwd+J37fWrfGef9rv4oD4f/D34O6yujar4F+HHiGbQ/C95ZtoVrqlzLq+qssV9dRfZdViSWMSW9uptWYBgSaAMr/grx/wVo+E998RPhf8ABPwvNqnxsvtY8Xw6j4n8M/DtbTXbq5fS5Ptdno1ySzRwm51GC385GBYWtreBgu5SfmDxLq/7XHxi+PHhn4UeLPFPhT4O6p8bPiBbWvxbfwRdpe63pltc2M9zFpl3rUjS21pcjT7J4bGwso5GEYSW5kY3SNdfTnwF/wCCd/jbVf2kLf4xfBv4cfB34H+C9d8JxeFvBc91p1xDr3gTS0uLyR9XXRxF9ln1XUUvGZGuXjktIiiTpK7XNtJ9veD/ANgT4R+Gf2fI/hjqPgfQfGnhOS7OqajD4ss4tdl17UXbzJdRvnulc3N5JIS7zyZYseCAAAAfA/ww/wCCP/7Mv7QHj/wl4M+Cvw90nS/gz8L9aGseLfHun3DXVx8Qr+O1ubM+Hob92Z7qxK3c5v2RjBlRaqPMM/2b9WVUIoVQFVRgADpVHwt4V0vwN4Z0/RdE02w0fR9Jt47OxsLG3S3tbKCNQqRRRoAqIqgAKoAAAAFX6APj/wD4LT6p8VF/Zf0fR/hvovxG1TQ/EniCHT/Htx8PbWC88W2fh4xTNcrpkM0kS+fOyxwecGLQLM0io5Ax5X8GvDn7W/xL+F+k+A/g38L/AIZ/sN/CHSbFrXS7rW4YfFXimFGIkjnt9MgdLK3diz+at3JLIXdmbLE1+ilZ/i7xZpvgLwpqmuazeW+m6PotpLf313O22K1giQvJIx7KqqST6CgD8JdW/wCCcmhftAf8HD/hn4P+INa8afHJfhbpGkePPHvjLxxrv26+tPIS7mj0iG2VVtYrK5uL3Sna28suI0kKuVaQt+9EMK28KxxqsccYCqqjCqB0AFfnx/wb9/D3WPiP8PPi1+1J4ssrqx8SftTeL5/EenW15EyXOn+HbVpLbSbd9ygkCLzHRlJR4ZIGHWv0JoAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAPAf2yP2K9a/aM+IfgHx34K+JWqfC34hfDmLUrHTNWh0Wy1q2ls9R+y/bIZba5Ugs32OApIjoyENnerMp4DXP+CSkXx6l2/Hv42fGL42aQylJ/C9zqUHhvwveDdE6i4sNJitvtQV4lZVuZJV9VOWLfXtFAGD8Mvhb4Z+Cvgaw8MeDfDmg+EvDWlh1stJ0XT4rCxsw7tIwjhiVUTc7sx2gZZiepNeTfEX/AIJ7+Dfih8WtU8Rapq/ittD8S6tY6/4j8HJdQf8ACP8AibUrKCC3tbq8jaEzvsjtbQGFJ0gk+yw+ZFJt593ooAKKKKACiiigArxr/goP+yxqn7bv7G3jz4T6T42uvh7cePLKPS7jXLaxF9JBZtPGbuERF4wwntlmtydw2ictzjB9looAw/hj8ONG+Dnw28PeEfDllHpvh7wrplto+l2kZJW1tbeJYYYxnnCoijn0rcoooAKKKKACiiigAooooAKKKKACiiigD//Z
          description: |
            Données du fichier en base 64 de la "signature de l'expert" pour certifié que c'est bien lui qui a établi ce PV

        - name: files[0][1][name]
          in: formData
          required: true
          type: string
          default: signature_reparateur.jpg
          description: |
            Nom du fichier de la "signature du réparateur" pour certifié que c'est bien lui qui va réparer pour ce montant

        - name: files[0][1][data]
          in: formData
          required: true
          type: string
          default: data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABRCAYAAACXMekVAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAACYktHRAD/h4/MvwAAEwJJREFUeF7tnQd0FEUYgCcKGEGkWVAElCIaSxBFVFSeRhFsKBZQBHusiL1hwYcNEcSCvaFixfpUSERRbE/FAoqAFJ8NY4JEeaBo0PW+cf5lcuxdLpe9u727/d4buMzO7s7O7r8788///1PgRFAhSVFdXa3mzp2r5s+frxYuXKi+/fZb9eOPP6rKykq9bdWqVaqmpkYVFBSowsJC1aJFC7Xpppuq9u3bq65du6qioiJVXFysevbsaY4Y4oW055o1a1TTpk1Vu3btVJMmTczW1BIKSIIgANOmTVPl5eVq+vTpavXq1WbL/yAEPPQdOnRQbdu2Va1bt1bNmjVTjRo10jcWYVm2bJkWoG+++UZVVFSYPddy9NFHq6FDh6rDDz/c5OQfZWVlasqUKer1119XS5cuNbnelJSUqIkTJ6pu3bqZnBSAgISsy5dffulcffXVTufOnXmBuKlNmzbOcccd50RujDNr1iwn8oUweyTH22+/7Vx22WXOlltuWes8AwcOdH766SdTKnf5559/nHHjxjlbbbWVe+20RWlpqfPYY4/pNo68VJyqqion8oV2Ii8nZ9SoUU7kS+yWP+2008zR/CcUEItHH33U6d27t9vwpL333tuZMGGCE3nrm1KphXNFvjzu+XfbbTfn999/N1tzh2effdbZeuut3es88sgjnbfeestsTYzRo0e7+0e+OCbXX/JaQCLdJOeWW25xNttsM7eht912W2fs2LH6rZVJPv7441pvyUsuucRsyW6uueaaWm39yiuvmC3JIce66aabTI6/5KWA3HrrrU7Lli3dxo30+Z3I+MJsDRb33XefW8/NN9/c5GYf1113nXsdkbGW89tvv5ktycMXX44ZGeeZXH/JGwF55pln9BtLGnTw4MHOJ598YrYGm+XLl7v1JmUTb775pltvBMMvIgN497j33nuvyfWfnBYQukmDBg1yG7KkpMR55513zNbsQ66DlA3ss88+uq7t2rXz5YshTJo0yW0HvrCpJCcF5IknnnCaN2+uG3CjjTZy7r//frMlu6msrHQfDAbvQeW7775z6+nn233u3Llu1xihq66uNltSR04JyIgRI9wbc9RRRznff/+92ZI73Hzzze41BnHchHZK6rdixQqT2zBQhYsauFWrVs77779vtqSerBcQ3qoHHXSQe1N4gHIdudbGjRubnGCARlAe4oby77//1hrY77jjjs7nn39utqaPrBWQ+fPn60aj8Zo2beq89NJLZkvuY2u2PvvsM5ObWaROG2+8sclJDrpkHTp0cK/v7LPPdlatWmW2pp+sE5A5c+a4Ddi+ffus0UT5jTxAZ555psnJHF9//bVbn/ry999/O7fddlutmXQG98yYB4GsERBmskUwttlmG2fBggVmS37SpUsX3RZdu3Y1OZlDHmwEJREYxF955ZX6yy/7YsEwZcoUUyI4BF5Afv31V7cr1bZtW2fevHlmS35zyimnuA9XJjn55JN1HQYMGGByvHn11Ve1fZnUmcTfQflSxCLQAtK/f3/dkI0aNXI+/PBDkxsC119/vfugZYq//vorZh34mowcOVKrY6UMKtorrrjCWbx4sSkVfAIpINgdSaM+9dRTJjfEBgtYaaNMwcw457/ooou0sGDCs+uuu7r1Ih166KGB7DolSqAEBE2UNOzll19uckO8EKM/zO8zgT0ZaKeePXs6t99+u1a/5wKBEBDMueVTvOeee5rckHgce+yxur0OPPBAk5NamKzjS9GpU6daAtGiRQvnjjvu0L4auUjGBeTcc891GztfVbbJsMkmm+g2o6vlN1ggPPDAA3rgLfdG0gEHHKBN1OX8ud4FzpiA4CkmjX7ppZea3JBEkbZrqDnHn3/+6bz88svOWWedVWuCjoR5/emnn6634/lnI2VynYxc4WGHHaYbt3Xr1s7KlStNbkiiMLFG++GRV19mzpyptUu77LKL+5BLOvjgg50777yzzjkmulSU79Gjh8nJXdIqIKhq5WZwk0OSQ9pwxowZJscb/OrpgmHmL/tIYmIOVfFHH31kSicO40SOMX78eJOTu6RNQPA5plH5aqASDEmOu+++W7fj9ttvb3L+B60RQQ4YvNs+7aSddtpJB4bAeckP5LhLliwxOblLygXEVgfyxgppGNKWPOyoeouKitw8EmrfE088UXtQ+umkJGDyI+fKB1J6laKrLygoSItzS67CF5eBMg+/PJyS+vTpoyfoErWDaiiMUThvMuOfbCRlAoKlLQ3J2yykfuCD/uCDDzr9+vWrJQwkVK8vvviijsiSCYgJRj389C8PMr4LyKeffurezPfee8/khsQDg0z8IPbbbz+37UgErePrIFavjCMyjXTpCKqXD/gqIJgw03jEcwqJDXMPjzzyiJ50E2EgMUtNG/KSEaRb9dBDD5mczLLBBhvo+vCFCwJ4HjKPZnc/8TD9448/TImG4ZuAoCmhcpg/h6wL5t5iHiKpY8eO2rrVyysQAZJyQTLjkDoFwYPz+OOPd+tDd5SYBLaPCcLTUBosIPSFpUL55PZaF6hAmZBjNlrah0grw4cPj2u6v2zZMmeLLbbQ5Q855BCTGxzkWsrKykxO+rE1aQSPi0a2+THX1iABwYleKvPzzz+b3Pxl9uzZWikhbULC3Pv55583JeJDWfZB68ckXxCR68pURBXaUuoQbf4iyPbHH3/c5CRP0gLCyalEkyZNTE5+wttMNDuSEJJEg11jS2UbBfpxU1OJ1JN5lnTz9NNPu+ePBd3VusrEQvzi7a9SUgJy1VVX6QMFwR86k9iR4LEQqE+AOkw8dt55Z3d/r65CEJH6pttUCEtvOXc8CKhHmWHDhpmcxJHjH3HEESYnCQGRLgTLAuQzMmFGIoBCoowZM8bdj8k2v8w/0oX47ZxxxhkmJz1Im8VTWLB8gpRLBiyXo/ev15HEngpf8XwH5cT666/vNihp33331fMD0d0P+uu9evVyy/GSYe4jGxHVdDpDn4qio665F2lfxoLJQIR4OQaWzZCwgEhECgaSIWvB0+6kk06qtRgMicEkn2r5e4cddkh4sB5kcIWWa0oHd911lz4X8y/xkDoxsdoQJDokSYd5Nflx4QFgBwJ6hcSG7pL9pcABCevbZCGiIBOHtvBNnTrVbM0Mr732mluXdKx8JediQaFY4PZLmWTGHV6wpBvHw3KhTgG59tprdeHtttvO5IQIuJ4OHTrUvYkkxmaYnTcElhMjhCfHw5+DAT2q36DcB7nWVM+m4wPPeeIZRkr3i0WQUkFcAcEojpMXFhaanPwFLQqf3/333999QEgsOImpwxdffGFKJs+TTz6pj4kQLFq0yOT+D9Ek2RaELq4IL5bEqUTaOFZwOXERTpVwQEwBYfEZqWC+QbcIMwZ7RSpJeNPh1+KHQAgy4YoN2y+//GJy14JdkZwfl9lMgzWA1CdV8BWOdw6xFifCZCqJeYVSua+++srk5Ae4kXLdfNaPOeYYre9Pxi01UWQuJJ77LN02yhQXF5uczEJkfXk+mLxLBfi7c3xUr9HImCNVC3faeAoI7pxUgAFiSGoQY0R7UsoLjBwpR/jVICFjom7dupkcf+HYJLSEAlbQkp8uU5d1BEQmwFgaOSQ18FDRxh988IHJ8YZxCOX8WJDGb+zYwDh4+QF+9US58VpOoby83M1LZ9TGWgKC8ZdUwi97+pC1iBUqE4x1IQqSIM07oaiwJ+HkWcGM3wueoeeee06rX1lfMBa8CHgJcKzzzjuvlkEisJwev3HWqgteOva+XrBCbqLUOgqTWRw4CJ5ruQYqUdqWeZK6ENXxCy+8YHIyy+TJk92HjnhaAg++5AuMT4YMGeLmk2KNnVg8x/aixMwfbrjhhlr7kxJZzZYgFVL+jTfeMLlrsf1HEg1W6F4ZyyPLziH+cs455+h25cGPBw4+lGvoMmZ+stdee+k6YYxJ9MVo5Jnp27evOyeB+vWee+6JuXQaPRXbykCSMGHCBDcvUS0VfjSyD9pHG3thUVJ9JrzdWmG2zs7ZYlWaLaAJo10RkniISQUPRzQMTv2AOLpe3SEZT0QboMpS2qRY3ZtRo0a5Zfg6xltPkJi/Mo/E8tysEyI+7hLjN9ovf+zYsTo/HtECQKgpQSzPJckKuQjoHnvsoX/HQwuI9HdJIf4hls+YLnjBzZd2x0o2mhtvvFFvs7s1dREr/I+sL84DasPaHVIH2xde8lhzXn57Lb9s+4JjzOoFASk23HBDXWb33Xd3pw6k68b1yXkoB7JyFcnWZNngVCbzIeKFSaALmDhxontOElYPwBqXkkcA7rrQEsFsMDswARTiD/LwM8D0At8RuVGYlkSDjp9t0REUY8EyCJRn8SGbiooK9zwkeyllOwINSZC/JQImvvOSx6qzgvh/23F++SowOGeNEHuilSWdo5FtkqK7cIMHD3a3IYh0UUtLS2t9ZZi4rampcZ3ObJ90SfZX2c5PBGXrltMVfCzXkbcUSg8vWFqA7Tx4XtjdgkTWBpe3KGs42thvf0kCb1873zXvjionyAQqieOizZK/o7tFki6++GJPywBByqHVi3WdaJxYIoOuGEKC0NFNpA42KDQwx2Gb+NjI8RlH8fXDhIe/E/lyCIpwMnKgEH+I1Z4EcpCvdaz2JlCDbI9VRmD23S7LkhICoW/IQ9hE2yRjDJl8pLsjg3CJSiNdHC8QQMrIG3n06NGuPRRdG/4nkZ8ICEUqLTWwFZM62YlxU6KoE044Qe8UWuv6g6g47cjnOOJEGzl6RQWRQbHd/fICVaoIWrQPNjZi8reYiMtAmLmGQYMG6d/ifGRHb6yriy3lYoHqVMpkKvJjNHxZxLpa1k+sS2Fio+TNQX8vpH6gyoy2RZIHRKK82G6ckhgw28iyEHYXSbwVGYNwk+mWiV8O6eGHHzYl156T9QH5n5jINggK3RNiCGBCHk28STyBEEYcuy4Td0xiKBfE4IGMg6StZNBeF0pMl8NFMxNj4cKF7oAY3X/0YjNyA6SMaI/ozjBhxm/b601cWBG2aM4//3yne/fuWkjoerGfV8R2xjx0G7wG++nmhx9+0NdDYsIvaMg9SDS2cKRscC8mSDCTK23l9TAL9gL/JHTt7777rt4meViqyrgAV+ZcwzaH98tOK1Oo9dZbT1+IlxouZK27MQNcvh6xoJsiD0WsxUgx4cEKFi1KffrB2Yi0RV2+5EFH0VfkQnL9htUHdPmi27/gggtMrjdVVVXuPEFDXW1zCbqeIiTpDhHkJ0rWm4ueYc1HmLGV5cvqCgKHZkraLuyeemMbB86bN8/kZheKiNhyEfmKmFvQ3fRSvxLDihlk0VgRF4zyTISFxEeerWx9vpTtiJKKNe1SCc41jJ2wJUsGiS/M/IBthxQN6lHKydoYoUlO4uAPIs+Xl4o56GixlgtgrYpsADsnUU+T6vsmFxMMxl+JmNdgLoEaNVMRzbMdvFPlXtE1zSa0gNgOLkEF60zbTIOI6uj/64NYLSNciUyOhfiD7UKLCUw24UqEXEBQug841WARKsGSSZhTx1t8JhaslSjHiKWCDUkt4q1KiuczEjRcAbFjknotCZYOiMWFjRDONFIXZjy9/BASAccZsW8iZGZI5rD9MGL5xwSRWn0qWVuBlK4uCOYR0Wv3Yb/UkMBsuK5KXCW6ZiHBwPZQzBbWqan9KUzUbLk+EITtwgsvrLV2HybTeM8x6dZQTj31VH1ML//pkMxihwpKxM8lCHiKsgQZkIS/dDJgh4O/MA+t7ZpJwuzaT+M68Wupj3tqSHqxF99MR1REPyjgn0iF12Hp0qVq4MCBKvLGNzlKtWrVSvXv318VFxerjh07YgmsCgoK1MqVK1VFRYVavHixinTN1KxZs1R1dbXZS6nCwkI1YMAAfbzIQFs1btzYbGk4nLNLly76N+cuKirSv0OCCc8LDBs2TE2aNEn/DjRaTOoAHwCsTsWjLFYiNAweasw6Ex0l2hTcT9ByiTdcutfLC0keeVaI9pINxPyCBJ3S0lIVGceoyDjJ5IRkA/IFiYxD1bhx4/TvIJO1AhKSfVRWVuqXGkyfPl2VlJTo30FmPfN/SIhasmSJ6t69ux4rpoIxY8aYXyorhANCAQnRjBw5UnXu3FnNnj1bd3/8JjJmVOPHj9e/p06dqv/PBsIuVgiRbdTkyZNV8+bN1YoVK0yuv8jYY8SIEWrChAn6dzYQfkHynDlz5mjhgFQIR1lZmSscDMqzSTggFJA8hwc4FcycOVO1adNG9evXD7duPU+Wiq5bqgkFJM9hwk7o06eP+ZUca9as0Wp3vhgcq1mzZmrGjBm1tFdZB2OQkPzGjuRIihfWKBpsqojWYhsiYlqUzmXSUkk4SA/RLF++XA0ZMkRNmzbN5CjVsmVL1bt3b9WpUyc9gK+pqVFVVVVq0aJF2pxo9erVpqTS+w4fPlz16tXL5OQGoYCErAPdovLycm2Ht2DBAt1FovtEl6lt27aqa9euqkePHlp4+vbtqxo1amT2zDWU+g8x11YyYuPwuwAAAABJRU5ErkJggg==
          description: |
            Données du fichier en base 64 de la "signature du réparateur" pour certifié que c'est bien lui qui va réparer pour ce montant

        - name: commentaire
          in: formData
          required: false
          type: string
          description: |
            Commentaire sur le dossier en question.

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "201":
          description: |
            Succès de la requete:
            ---------------------
            Message de succès suite à la génération du procès verbal d'expertise.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: OK
              message: |
                La procès verbal a été créé avec succès.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0

        "403":
          description: |
            Dossier interdit pour cet utilisateur.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: |
                Vous n'avez pas le droit de modifier ce dossier.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "404":
          description: |
            Le dossier indiqué n'existe pas.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: |
                Le dossier n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{dossier_id}/pieces/{id_type_piece}:
    put:
      summary: Met à jour une pièce
      description: |
        Met à jour une pièce depuis son type id et son dossier id
      tags:
        - Expertiser
        - Tous
      parameters:
        - description: |
            Identifiant du dossier
          name: dossier_id
          in: path
          required: true
          type: integer


        - description: |
            Identifiant du type d'une pièce, unique par
          name: id_type_piece
          in: path
          required: true
          type: integer


        - description: |
            Formulaire de mise à jour d'une pièce
          name: piece
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddOrUpdatePiece'

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            Succès de la mise à jour de la pièce.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer

                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                $ref: '#/definitions/Piece'
          examples:
            application/json:
              response: OK
              message: |
                Succès de la mise à jour de la pièce.
              nb_resultats: 1
              execute_time: 0.00077
              resultats:
                id_type_piece: 1
                aluminium: 0
                peinture: 0
                hors_sinistre: 0
                id_type_reparation: 1
                impacts:
                  - taille: petit
                    nombre: 3
                  - taille: moyen
                    nombre: 15
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: Aucun pièce trouvée.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                La pièce n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

    delete:
      summary: Supprime une pièce
      description: |
        Supprime la pièce depuis son type id et son dossier id
      tags:
        - Expertiser
        - Tous
      parameters:
        - description: |
            Identifiant du dossier
          name: dossier_id
          in: path
          required: true
          type: integer


        - description: |
            Identifiant du type d'une pièce, unique par dossier
          name: id_type_piece
          in: path
          required: true
          type: integer


        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
            La pièce a été supprimé avec succès.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer

                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                type: array
                description: Résultat de la requete, peut être un tableau vide.
                items:
                  type: string
          examples:
            application/json:
              response: OK
              message: |
                La pièce a été supprimé avec succès.
              nb_resultats: 0
              execute_time: 0.00077
              resultats: null
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: |
            Aucun pièce trouvée.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                La pièce n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "500":
          description: Une erreur lors de la suppression de la pièce.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Une erreur s'est produite.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{dossier_id}/pieces/{id_type_piece}/impacts/{taille}:
    put:
      summary: Met à jour un impact d'une pièce
      description: |
        Met à jour un impact d'une pièce depuis le type id de celle-ci, l'id du dossier et la taille de la pièce, unique par dossier
      tags:
        - Expertiser
        - Tous
      parameters:
        - description: |
            Identifiant du dossier
          name: dossier_id
          in: path
          required: true
          type: integer

        - description: |
            Identifiant du type d'une pièce, unique par dossier
          name: id_type_piece
          in: path
          required: true
          type: integer

        - description: |
            Chaine de caractère unique par dossier ("petit", "moyen" ou "gros")
          name: taille
          in: path
          required: true
          type: string

        - description: |
            Nombre d'impact à changer
          name: nombre
          in: query
          required: true
          type: integer

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la mise à jour:
            -------------------------
            L'impact à bien été mis à jour et est retourné dans la réponse.
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer

                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                $ref: '#/definitions/Impacts'
          examples:
            application/json:
              response: OK
              message: ""
              nb_resultats: 1
              execute_time: 0.00077
              resultats:
                - taille: petit
                  nombre: 4
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: Aucun dossier, pièce ou impact trouvé pour la mise à jour.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                L'impact n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

    delete:
      summary: Supprime un impact
      description: |
        Supprime un impact d'une pièce depuis l'id de celle-ci, l'id du dossier et la taille de l'impact.
      tags:
        - Expertiser
        - Tous
      parameters:
        - description: |
            Identifiant du dossier
          name: dossier_id
          in: path
          required: true
          type: integer

        - description: |
            Identifiant du type d'une pièce, unique par dossier
          name: id_type_piece
          in: path
          required: true
          type: integer

        - description: |
            Chaine de caractère unique par dossier ("petit", "moyen" ou "gros")
          name: taille
          in: path
          required: true
          type: string

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'
      responses:
        "200":
          description: |
            Succès de la suppression:
            -------------------------
            L'impact a été supprimé avec succès
          schema:
            type: object
            required:
              - message
              - response
              - nb_resultats
              - execute_time
              - resultats
            properties:
              message:
                type: string
                description: Message sur le statut de la requête.
              response:
                type: string
                description: Statut de la requete.
              nb_resultats:
                type: integer
                description: Nombre de résultats de la requête.
              execute_time:
                type: number
                description: Temps de l'exécution de la requête.
              new_token:
                type: string
                description: Nouveau token à utiliser pour les prochains appels.
              resultats:
                type: array
                description: Résultat de la requete, peut être un tableau vide.
                items:
                  type: string
          examples:
            application/json:
              response: OK
              message: |
                L'impact a été supprimé avec succès.
              nb_resultats: 0
              execute_time: 0.00077
              resultats: null
        "400":
          description: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: Les paramètres fournis ne sont pas dans le bon format ou il manque des paramètres
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "401":
          description: Votre token est invalide.
          schema:
            $ref: '#/definitions/Returner'
          examples:
            application/json:
              response: FAIL
              message: "Le token est invalide ou manquant, vous ne pouvez pas accéder à cette méthode."
              nb_resultats: 0
              execute_time: 0.00087
              resultats: 0
        "404":
          description: |
            Aucun dossier, pièce ou impact trouvé pour la suppression.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                L'impact n'existe pas.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null
        "500":
          description: Une erreur lors de la suppression de l'impact.
          schema:
            $ref: "#/definitions/Returner"
          examples:
            application/json:
              response: FAIL
              message: |
                Une erreur s'est produite.
              nb_resultats: 0
              execute_time: 0.00087
              resultats: null

  /rest/dossiers/{id}/vehicule:
    get:
      summary: Récupère le véhicule du dossier
      description: |
        Retourne le véhicule affecté au dossier avant d'établir le procès verbal.
      tags:
        - Tous
        - Identifier
      parameters:

        - name: id
          in: path
          description: Identifiant unique du dossier
          required: true
          type: integer

        - $ref: '#/parameters/token'
        - $ref: '#/parameters/login'
        - $ref: '#/parameters/dsp'

      responses:
        "200":
          description: |
            Succès de la requete:
            ---------------------
[...]
